[2019-10-10 23:39] Rapsssito opened #1 "Looking for maintainers"
Hello everyone!
I have created **`react-native-tcp-socket`**, since the original [`react-native-tcp`](https://github.com/PeelTechnologies/react-native-tcp) repository was abandoned long ago. As @phillbaker [commented](https://github.com/PeelTechnologies/react-native-tcp/issues/108#issuecomment-530605215) in the original repository, non active user has maintainer access on that repository, so `reac

[2019-10-11 16:53] aprock commented on #1
So, Instead of forking it, if you'd like I can grant you access to the repository and rights to update the npm package since that is the one that is published?

-Andy

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, October 10, 2019 4:39 PM, Rapsssito <notifications@github.com> wrote:

[2019-10-11 16:54] aprock commented on #1
meaning the one under my account.
https://github.com/aprock/react-native-tcp

I started the project at Peel, and then left and forked it so development could continue.

-Andy

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Friday, October 11, 2019 9:53 AM, Andy Prock <aprock@protonmail.com> wrote:

[2019-10-11 17:13] Rapsssito commented on #1
@aprock I really appreciate your fork, I've used it a lot! However, I have come across a lot of people having troubles getting help about that library because the **`issues`** are located in Peel's repository. Also, contributors are still creating PR's for that repository, ignoring that the one in **npm** is your fork. I have also found a lot of other forks born from ignored PR's in the original r

[2019-10-11 19:34] aprock commented on #1
Those are fair points. Best of luck!

-Andy

On Fri, Oct 11, 2019 at 10:13 AM, Rapsssito <notifications@github.com> wrote:

[2019-10-11 21:35] phillbaker commented on #1
@aprock would you mind enabling issues on your fork? That at least addresses one of the concerns.

[2019-10-12 09:39] Rapsssito commented on #1
That would be a great start! However, I don't think hosting the library on a fork is maintainable in the long run. @phillbaker or @aprock would you like to become maintainers of this library or maybe create a new one, marking the fork as moved?

[2019-10-23 09:22] snapxtp opened #2 "JSON Server data convert"
Hello i added an plugini and ran an application. Thank you.

Server is running and listening in this application...

I can see output when I send a post request with postman.

In the following code, how can I make an incoming requestin format in json and how to extract a json sent from an incoming query ?

server = TcpSocket.createServer((socket) => {
            this.updateChatter('server connect

[2019-10-23 09:31] Rapsssito commented on #2
This could be a way of doing it. However, it is a bit unsafe if you are getting two messages from the same socket too close in time.
[code]

[2019-10-23 12:12] snapxtp commented on #2
Thanks for your quick answer.
I guess I couldn't tell my question here.
For example: 127.0.0.0:5556 creating a server. I'm sending a post request to this server with postman.

And the query falls here:
socket.on('data', (data) => {
     console.log(data)
});

data format: Uint8Array
I would parse it and get the following output:
I was wondering if I could convert the data content to json format an

[2019-10-23 12:24] Rapsssito commented on #2
Sorry, I didn't understand the question. **`socket.on('data')`** is called each time a byte or a bunch of bytes are received from the client socket. If you are planning to receive big chunks of data (like HTTP), you should think of `socket.on('data')` like a loop and create your logic around that. If you are only working with HTTP, you can use **`Content-Length: 31`** to detect the size of the mes

[2019-11-01 19:24] #2 closed

[2019-11-04 15:33] Rapsssito opened #3 "convertServiceException on Android on quick socket creation"
After performing around 100 quick TCP Socket creation requests, Android's [`Connectivity Manager`](https://developer.android.com/reference/android/net/ConnectivityManager) throws the following error:
![photo5908934440569123618](https://user-images.githubusercontent.com/44206249/68133003-f3bf9980-ff1f-11e9-941d-a09e2acdab90.jpg)
It only appears when manually selecting the interface, in this case `"

[2019-11-10 18:16] duartealexf opened #4 "Execution failed for task ':react-native-tcp-socket:compileDebugJavaWithJavac'"
Happens when running `react-native run-android`.

Output:

[code]

I followed all steps from this project's README file.

`build.gradle`:

[code]

[2019-11-10 18:20] duartealexf commented on #4
my package.json:

[code]

[2019-11-10 18:22] Rapsssito commented on #4
Thanks for the report. Working on a solution.

[2019-11-10 18:57] Rapsssito commented on #4
The issue is related to your RN version. The library uses methods only available in RN >= 0.61.

I have released **`1.2.2`**, compatible with RN 0.60. Check if everything works. Refer to the [README](https://github.com/Rapsssito/react-native-tcp-socket#react-native-compatibility) for more details.

[2019-11-10 20:36] duartealexf commented on #4
Thank you so much! I will try it out and let you know!

[2019-11-10 22:08] duartealexf commented on #4
Great! It worked! You're the best! Cheers!

[2019-11-10 22:08] #4 closed

[2019-11-15 00:01] #3 closed

[2019-11-15 00:10] #1 closed

[2019-11-15 03:30] haiya6 opened #5 "Cancel monitoring an event"
I want to cancel the listening event when the page exits,
Thank you.

[2019-11-15 08:18] Rapsssito commented on #5
If you want to cancel a client, you can call it's `destroy()` method when unmounting the screen. If you want to close a server, you can do the same using it's `close()` method.

[2019-11-15 09:34] haiya6 commented on #5
[code]

[2019-11-15 10:02] haiya6 commented on #5
But I don't want to cancel data events that are being listened for elsewhere.

[2019-11-15 11:03] Rapsssito commented on #5
Then, I am sorry you will need to rethink your code and logic.

[2019-11-15 11:26] zengkl520 commented on #2
your questtion like websocket,not tcp-socket

[2019-11-15 13:52] haiya6 commented on #5
I think one should be provided.
  Like`EventEmitter` in Nodejs，For example:
[code]
Sorry, I don't know much about Android development, but I think the `NativeEventEmitter` you use has similar features, Thank you for providing `react-native-tcp-socket`~

[2019-11-15 16:10] Rapsssito commented on #5
I'll take it a look, but as this is a rare use case, I cannot assure you that this feature will be added soon.

[2019-11-16 19:17] #5 closed

[2019-11-16 19:59] Rapsssito commented on #5
Check if the last version works for you!

[2019-11-17 05:11] haiya6 commented on #5
Sorry, I didn't see the message until now, your update has been very helpful to me, thank you!

[2019-11-20 17:34] snapxtp opened #6 "[iOS] Error: Unknown interface."
Hi;

Create server 127.0.0.1 port:9001 and create client but gives the following error.

var client = TcpSocket.createConnection({
            host:"127.0.0.1",
            port:9001
        }, (address) => {
            this.updateChatter('opened client on ' + JSON.stringify(address));
            client.write('Hello, server! Love, Client.');
        });

Error: Unknown interface. Specify valid i

[2019-11-20 18:41] Rapsssito commented on #6
Could you post your react native version, package version and platform?

[2019-11-20 21:29] snapxtp commented on #6
server is working but the client mentioned above I get the error and it does not work.

"@babel/plugin-proposal-decorators": "^7.6.0",
 "@react-native-community/async-storage": "^1.6.3",
 "babel-plugin-transform-decorators-legacy": "^1.3.5",
  "react": "16.9.0",
  "react-native": "0.61.2"

Platform : ios 13

[2019-11-21 16:42] Rapsssito commented on #6
I'll have a look. Working on a solution!

[2019-11-21 19:23] Rapsssito commented on #6
It looks like if you want to use the `127.0.0.1` address, you must set the client's `localAddress` to `127.0.0.1`, too.

[2019-11-22 07:52] snapxtp commented on #6
Sorry I didn't work on this. I get the same error when I create a new server using device ip. Server is running but I can't create a client.
Thank you

[2019-11-22 09:00] CrazyMan2 opened #7 "errors"
I:\ReactProject\Project\WeixinFaceCheckIn\weixinfacecheckin\node_modules\react-native-tcp-socket\android\src\main\java\com\asterinet\react\tcpsocket\TcpSocketModule.java:107: 错误: 找不到符
号IDLE
        new GuardedAsyncTask<Void, Void>(mReactContext.getExceptionHandler()) {
                                                      ^
  符号:   方法 getExceptionHandler()
  位置: 类型为ReactApplicationContext的变量 mReac

[2019-11-22 09:59] Rapsssito commented on #6
I mean, you have to **create the `client`** with a `localAddress = 127.0.0.1`  if you want to use that address.

[2019-11-22 10:01] Rapsssito commented on #7
Dupe of #4, check out this comment: https://github.com/Rapsssito/react-native-tcp-socket/issues/4#issuecomment-552222712

[2019-11-22 10:01] #7 closed

[2019-11-22 11:03] snapxtp commented on #6
My Code;

export default class SocketServer {
    serverPort = 9001;
    serverHost = "127.0.0.1";
    server = null;
    client = null;
    startServer() {
        this.server = TcpSocket.createServer(async (socket) => {
            console.log(JSON.stringify(socket.address()))
            socket.on('data', async (data) => {
                socket.write([
                    'HTTP/1.1 200 OK',

[2019-11-22 12:17] Masoodt commented on #6
@snapxtp @Rapsssito install from my fork, i've a temporary fix
yarn add https://github.com/Masoodt/react-native-tcp-socket/tarball/master

[2019-11-22 12:34] Rapsssito commented on #6
The issue is related to the library used in the iOS part (CocoaAsyncSocket), it cannot connect to `"127.0.0.1"` without specifying a localAddress to bind to.
[code]

[2019-11-22 12:34] #6 closed

[2019-11-22 20:12] snapxtp opened #8 "Server and client communication"
Hi;
Thanks to your help I created a server and client connection.
The client sends a message to the server and the client returns a reply, after that I did not stop the server and do not destroy the client everything stops...

Sending an external request to the server. The data I send falls to the following area then my expectation is that the server sends this data to the connected clients.
serve

[2019-11-22 20:49] Rapsssito commented on #8
Can you share your full code and document where the bug is? I think I do not understand your issue.

[2019-11-23 10:41] Rapsssito opened #9 "Jest tests with NativeEventEmitter"
`NativeEventEmitter` causes the following error when running the tests: `Invariant Violation: Native module cannot be null`.

[2019-11-23 20:04] snapxtp commented on #8
What i want to do. Creating a server and receiving data from this server by clients connected to the server. However, once the server and client send and receive messages, communication is interrupted.
![image](https://user-images.githubusercontent.com/18392863/69484561-94c9b200-0e45-11ea-97bc-8be438e4e0cd.png)

Is something like this possible ?

[2019-11-26 08:03] Rapsssito commented on #8
Something like that is possible. However, you may understand that I cannot write the code for you.
If you have a code that you want me to debug, please, consider **sponsoring** so you will get benefits that will help you!

[2019-11-26 22:22] snapxtp commented on #8
Hi; I think you misunderstood me. I don't want you to write the code for me. I just want to know if this plugin works for now. Because the server and client that I see in my tests, once communication stops communication. If this plugin is just a preliminary demo, of course we can discuss it for development. My english is bad sorry.

[2019-11-26 22:26] Rapsssito commented on #8
Sorry, my fault. I am not native English.
**I can assure you that this plugin works**, I use it in production.

[2019-12-04 21:42] #8 closed

[2019-12-04 21:46] snapxtp opened #10 "Server on data events stop working"
Hi;
socket.on('data',  (data) => { ... stops working after creating server and throwing several client requests.
Server events stop working. But the server is still running

Device Android and Android emulator (android 7 ... android 9)
"react": "16.9.0",
"react-native": "0.61.2",
"react-native-tcp-socket": "^3.0.2",

[2019-12-05 00:03] Rapsssito commented on #10
Could you provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example) of this issue?

[2019-12-05 08:16] snapxtp commented on #10
I have a small tcp data send application. With this application I send data to another application that I made using your plugin.

I'm building a release apk for Android and installing it on my device.

When I start sending data, the server stops working after an average of 3-10 data exchanges.

Interesting but when I get an apk build with debug mode I don't encounter this problem and the applicat

[2019-12-05 10:10] Rapsssito commented on #10
Let's look for a solution.
**First**, check if your other application is sending the data correctly.
**Second**, check if this issue also happens on iOS.
**Third**, if could you provide a [minimal reproducible example](https://stackoverflow.com/help/minimal-reproducible-example), it would be very useful.

[2019-12-08 18:49] snapxtp commented on #10
"react": "16.9.0",
"react-native": "0.61.2",
"react-native-tcp-socket": "^3.0.2",

import TcpSocket from 'react-native-tcp-socket'
![image](https://user-images.githubusercontent.com/18392863/70394272-9f1eab00-1a04-11ea-8448-aa1b52a567f9.png)

[2019-12-08 18:55] Rapsssito commented on #10
Could you provide the code causing this bug?

[2019-12-08 19:26] snapxtp commented on #10
I just added the plugin and tried to make a simple example. i get this error for ios

const serverPort = 3000;
        let serverHost = "0.0.0.0";
        this.server = TcpSocket.createServer((socket) => {
            socket.on('data', (data) => {
     console.log('data')
            });
            socket.on('error', (error) => {
                console.log('Server error ', error)
            });

[2019-12-08 19:44] Rapsssito commented on #10
Working on the issue.

[2019-12-08 20:07] Rapsssito commented on #10
I've released a fix: `3.0.3`, my latest commits broke something about the eventEmitter, sorry about that.
Please, upgrade and comment what is your issue.

[2019-12-08 20:38] snapxtp commented on #10
Yes now it works perfectly thanks

[2019-12-08 20:38] #10 closed

[2019-12-09 00:07] jasenkabalac opened #11 "Import in MainAplication.java"
What is the proper import ?

import com.asterinet.react.TcpSocketsModule;
or
import com.peel.react.TcpSocketsModule;

Second one is made during normal instalation

[2019-12-09 00:11] Rapsssito commented on #11
For this library, it should be `import com.asterinet.react.TcpSocketsModule`

[2019-12-10 09:04] Rapsssito commented on #11
@jasenkabalac did you use `yarn add react-native-tcp-socket` or `npm install react-native-tcp-socket`?

[2019-12-12 20:41] cristianpedroso opened #12 "Comunication between devices"
Hi, i'm trying to connect from another device to the server using the wifi direct IP, but when i try to connect the output is:

To get the server address ip i'm using `react-native-wifi-p2p`.

When i use the ip to connect from the same device of the server it work.

[2019-12-12 20:54] Rapsssito commented on #12
It looks like you are trying to connect to LAN IP from an **invalid IP** (`120.0.0.1`).

[2019-12-12 20:55] cristianpedroso commented on #12
Sorry... the problem is that i'm using the localAddress: "127.0.0.1", in client server, my bad.

Thx for the library.

[2019-12-12 20:55] #12 closed

[2019-12-13 20:15] matheusmorett2 opened #13 "Reusable address"
How can i set reusable address to avoid Address already in use?

[2019-12-14 16:07] Rapsssito commented on #13
Currently, there is no possibility for reusable address. Sorry about that.

[2019-12-15 04:58] matheusmorett2 commented on #13
Maybe i can help you with this issue. How do you recreate the socket connection?

[2019-12-15 14:04] Rapsssito commented on #13
@matheusmorett2 feel free to open a PR with the feature! Look at the Obj-C and Java code for more information about the socket creation.

https://github.com/Rapsssito/react-native-tcp-socket/blob/de2124a6e5cd9f8f1e350295f0008ea2098bcb2a/android/src/main/java/com/asterinet/react/tcpsocket/TcpSocketClient.java#L32-L48

https://github.com/Rapsssito/react-native-tcp-socket/blob/de2124a6e5cd9f8f1e35029

[2019-12-28 18:43] #11 closed

[2020-01-05 01:58] dalabarge opened #14 "iOS Network Interface Issue"
I'm using the following to create a connection a smart device that is hosting a TCP server on port 80. From the smart phone I connect to the broadcasted WiFi of the smart device, then initiate the following TCP connection. The same connection code works otherwise with Android.

[code]

Per several hours of debugging and internet search I find that `localAddress` is required so that is why it is in

[2020-01-05 02:12] Rapsssito commented on #14
@dalabarge, thanks for your feedback! However, this looks like two issues:
* iOS interface error
* setTimeout() error

Could you create two different issues indicating all the relevant data for each problem, please?

[2020-01-05 02:16] dalabarge commented on #14
Let's ignore the timeout issue for now as that's not near as critical as just getting things connecting. All relevant iOS information is available in this issue.

[2020-01-05 02:22] Rapsssito commented on #14
My understanding is that in iOS you need to specify a `localAddress` to connect to `192.168.1.1`. However, when you set your `localAddress` as those examples you provided, you get an error. Is that correct?

[2020-01-05 02:23] dalabarge commented on #14
Yes that is precisely the problem. If I use `localAddress` set to `127.0.0.1` it seems to accept it but then it errors out in the `connect()`.

[2020-01-05 02:25] Rapsssito commented on #14
You cannot set `localAddress` to `127.0.0.1` because that is the device loopback address.

[2020-01-05 02:28] Rapsssito commented on #14
The issue might be related with your setup. `localAddress` should not required to connect to `192.168.1.1` as it is a normal LAN IP address.

[2020-01-05 02:54] dalabarge commented on #14
So you're saying that the `localAddress` needs to be the IP of my phone as assigned by the WiFi AP of the smart device? Makes sense I suppose, though I'm surprised the OS level libs cannot resolve that automatically.

Using `react-native-network-info` package I was able to call `NetworkInfo.getIPAddress().then((localAddress) => { TcpSocket.createConnection(...) })` to get the resolved `192.168.1.2

[2020-01-05 03:14] dalabarge commented on #14
It would also appear that by fixing this `localAddress` issue the previously mentioned timeout event handling no longer errors when called on iOS. Thank you for your help and clarification on `localAddress` usage.

[2020-01-05 03:14] #14 closed

[2020-01-05 10:25] Rapsssito commented on #14
@dalabarge glad it worked! I would recommend you to use `react-native-netinfo`, since it is actively developed by the react native community. A few days ago my PR to fetch info from a specific interface was merged, providing reliable an stable tools for getting the network info from the interface, even if it is not connected to the internet.

[2020-01-06 18:11] dalabarge commented on #14
Yes I ended up using that package per your suggestion and this worked well enough.

[code]

[2020-01-08 11:29] aymensmurf opened #15 "How can a server send data to a specific client?"

[2020-01-08 11:36] Rapsssito commented on #15
Following the [documentation](https://github.com/Rapsssito/react-native-tcp-socket#server):

[code]

[2020-01-08 11:41] aymensmurf commented on #15
So to my understanding you have to make a new socket for every client. am I understanding that right?

[2020-01-08 11:44] Rapsssito commented on #15
@aymensmurf, the socket is **created automatically** for every client. You just access it from the `createServer()` **callback**. You can read more about it in the [node's net documentation](https://nodejs.org/api/net.html).

[2020-01-08 11:48] aymensmurf commented on #15
It still a little vague, but I will have to look more into it. Thanks for your help.

[2020-01-08 11:53] Rapsssito commented on #15
I hope this example can help you!

[code]

[2020-01-08 11:53] #15 closed

[2020-01-10 09:40] micahbule opened #16 "Socket onClose event doesn't fire on connected device"
## Description
`close` event for either client nor server doesn't fire when the other device disconnects.

## Steps to reproduce
Steps to reproduce the behavior:
1. Instantiate a TcpServer on device1 and register an event listener to the `close` event of the connecting `socket`.
2. Create a TcpClient on device2, connect it to device1, and register an event listener to the `close` event of the clie

[2020-01-10 09:47] Rapsssito commented on #16
@micahbule, thanks for the issue! Working on it!

[2020-01-10 10:58] Rapsssito commented on #16
@micahbule, is this also reproducible in iOS?

[2020-01-10 11:31] micahbule commented on #16
@Rapsssito I haven't tried it on iOS as I don't have a device to try it with.

[2020-01-10 11:32] Rapsssito commented on #16
I will release an Android fix since I don't have enough time to debug iOS right now.

[2020-01-10 11:35] micahbule commented on #16
Sure thing. I'll try to reproduce it on iOS if I have time. Thanks so much!

[2020-01-10 15:29] Rapsssito commented on #16
**Should be fixed in [3.1.3](https://github.com/Rapsssito/react-native-tcp-socket/commit/464bdcd6f1094b5033d7ae8738c684636e6dcaa9).** Feel free to reopen this issue if the problem persists.

[2020-01-10 15:29] #16 closed

[2020-01-10 20:01] Rapsssito commented on #13
@matheusmorett2, I have created a PR (#17) for this feature. Feel free to contribute there!

[2020-01-11 14:17] #13 closed

[2020-01-20 10:15] Mi-La opened #21 "Impossible to unregister event listener"
See implementation in `TcpSocket.js`:
[code]
Note that the listener function passed to the _eventEmitter is not the given callback, but a wrapper `(evt => {...`. Therefor it is impossible to use the `off` method to unregister the callback.
[code]

[2020-01-20 10:20] Rapsssito commented on #21
Thanks for pointing that out! I'll change the API so `on` returns a listener with its own `remove()` function.

[2020-01-20 18:39] #21 closed

[2020-01-21 21:12] Pinwheeler opened #24 "Unable to resolve host "http://xx.xx.xx.xx""
When running, failing to get a connection to the socket I have open on my local machine. I *am* able to get other socket libraries connecting. I would like to get the project running and try to tweak the project example files to connect to my local server, but cannot figure out how to do so.

Here's the error I get when using this library

`Unable to resolve host "http://10.0.2.2": No address asso

[2020-01-21 21:31] Rapsssito commented on #24
@Pinwheeler, could you please share your socket configuration object?

[2020-01-21 22:07] Pinwheeler commented on #24
[code]

[2020-01-21 22:15] Rapsssito commented on #24
@Pinwheeler, could you provide the exact `ports` and `hosts` given to `createConnection()` method that are causing the error.

[2020-01-21 22:19] Pinwheeler commented on #24
here's the log result of the first line of the `constructor` method
[code]

So those arguments should be

[code]

[2020-01-21 22:21] Rapsssito commented on #24
@Pinwheeler, I think the main issue here is that `host` is the _host the socket should connect to. IP address in IPv4 format or localhost_.

Does it work if the host is set to `10.0.2.2`?

[2020-01-21 22:41] Pinwheeler commented on #24
Haha! So it does! Thank you for your support! This library is so helpful and I'm happy that you helped me through this issue.

[2020-01-21 22:41] #24 closed

[2020-01-21 23:27] Rapsssito commented on #24
Glad it worked! **And thank you so much for your sponsorship, @Pinwheeler, I really appreciate it.**

[2020-01-23 21:27] caike commented on #14
@dalabarge Thank you for this! For future reference, one small tweak.. I believe it's `info.details.ipAddress`

[2020-01-23 21:30] dalabarge commented on #14
@caike you are most correct, I was using `ipAddress` instead. I've updated my original post to avoid copy paste error confusion.

[2020-01-29 12:30] deiv23 opened #25 "Second socket cannot connect"
Hi, I have no problems establishing a connection for the first time.
But after that first connection, I want to establish a new connection on the same port and ip, and the server socket (written in python) gets stuck on accept for this second connection.

Here is my code:

[code]

[2020-01-29 12:42] Rapsssito commented on #25
Could you please test the code with a different server in order to determine if it is a client or server-side issue?

[2020-01-29 12:51] deiv23 commented on #25
I use same server with another app in react (not react-native), where I use 'net-socket' and it's working properly.
Previously the server was on a windows machine, now I ported it to linux, I'll keep investigating to know if it is a server-side issue.

[2020-01-29 14:28] Rapsssito commented on #25
@deiv23, looking at your code, it looks like you are **creating both sockets on the same `localAddress` and `localPort`**, that may be causing the second client to not bind correctly.

Please, try to change the second `localPort` to a different one.

[2020-02-03 09:14] deiv23 commented on #25
Hi @Rapsssito , you were right, the problem was on the server. Now is working properly. Thanks!!

[2020-02-03 10:27] Rapsssito commented on #25
Glad you fixed it!

[2020-02-03 10:27] #25 closed

[2020-02-18 04:47] Pinwheeler commented on #6
Turns out I'm getting this with my server's IP address as well (not 127.0.0.1)

It seems to be only happening on iOS and possibly only iOS simulator. I'll see if setting a local address with get around this problem but just wanted to give a heads up.

[2020-02-18 04:51] Pinwheeler opened #26 "Unknown interface for IP Address not 127.0.0.1"
## Description
as in #6 but the discussion around that suggests that it's only for localhost

## Steps to reproduce
Steps to reproduce the behavior:
1. Using iPhone simulator
2. Connect to an IP address
[code]

## Current behavior
The socket fails to connect with error
`Unknown interface. Specify valid interface by name (e.g. "en1") or IP address.`

## Expected behavior
The socket should connect

[2020-02-18 13:09] Rapsssito commented on #26
@Pinwheeler, could you provide the `host` and `port` you are using to create the connection, please?

[2020-02-18 13:11] #9 closed

[2020-02-18 15:54] Pinwheeler commented on #26
Here's my logging info around it.

[code]

Ah... is this because that IP address is IPv6? Dang- do you know how to convert them?

[2020-02-18 17:48] Rapsssito commented on #26
**`167.99.166.69` is an IPv4 address**. There should not be an issue with that.

You can't convert all IPv6 addresses to IPv4 - there are more IPv6 addresses than there are IPv4 addresses.

[2020-02-18 18:02] Rapsssito commented on #26
@Pinwheeler, it is indeed a bug with the `localAddress` handling on the iOS part when connecting. Thanks for the feedback! I will update when a fix is ready.

[2020-02-18 18:27] Rapsssito commented on #26
@Pinwheeler, I have released a **fix version ([3.2.7](https://github.com/Rapsssito/react-native-tcp-socket/releases/tag/v3.2.7))**. Could you please test if the issue persists using that version?

[2020-02-18 18:29] Rapsssito commented on #6
This issue may be fixed in **[3.2.7](https://github.com/Rapsssito/react-native-tcp-socket/releases/tag/v3.2.7)**.

[2020-02-19 08:41] nthungmta207 opened #27 "null is not an object: evaluating 'Sockets.connect'"
Help!
My project cant import TcpSocket from 'react-native-tcp-socket' and it show:
TypeError: null is not an object ( evaluating 'Sockets.connect')

[2020-02-19 09:04] Rapsssito commented on #27
@nthungmta207, could you provide more info about your problem (code, OS, module version)?

[2020-02-19 10:54] nthungmta207 commented on #27
![image](https://user-images.githubusercontent.com/31845106/74827892-bcdf8900-5340-11ea-8baf-1eaf8c111716.png)

[2020-02-19 10:55] nthungmta207 commented on #27
![image](https://user-images.githubusercontent.com/31845106/74828030-f7492600-5340-11ea-8b2e-e4a63b4d1279.png)

[2020-02-19 11:00] nthungmta207 commented on #27
thanks

[2020-02-19 11:39] Rapsssito commented on #27
@nthungmta207, please, do not share code in photo format, it could compromise your privacy and it is difficult to understand/read.

Taking a look at your initial post, I think the issue is that you are calling `Sockets.connect` while you are importing `'react-native-tcp-socket'` as `TcpSocket`. **The correct way to call it is `TcpSocket.connect`**.

[2020-02-19 12:22] nthungmta207 commented on #27
import React, { Component } from 'react';
import {
  View,
  Text,
  StyleSheet,
  Dimensions,
  TextInput,
  KeyboardAvoidingView,
  textInputOpacity,
  Alert,
} from 'react-native';
import TcpSocket from 'react-native-tcp-socket';

import Svg, {Image, Circle, ClipPath} from 'react-native-svg';
import Animated, { Easing } from 'react-native-reanimated';
import { TapGestureHandler, State, Touchabl

[2020-02-19 12:25] Rapsssito commented on #27
If that is your code, you are calling `this.updateChatter('opened client on ' + JSON.stringify(address));` and `updateChatter` is undefined. Have you tried if that code throws an error?

[2020-02-19 12:27] nthungmta207 commented on #27
I have tried but it still not working

[2020-02-19 12:28] Rapsssito commented on #27
What error are you getting?

[2020-02-19 12:40] nthungmta207 commented on #27
![87254589_2530732397200837_8332245191419232256_n](https://user-images.githubusercontent.com/31845106/74835290-95dc8380-534f-11ea-95d7-4d19c03ba676.jpg)

[2020-02-19 12:51] Rapsssito commented on #27
I am not able to reproduce the bug. **It might be caused by a React Native linking error**. Try to uninstall the library:
`yarn remove react-native-tcp-socket`
Install it again:
`yarn add react-native-tcp-socket`
And if you are on iOS:
`cd ios && pod install`

Finally, reinstall the app on the device.

[2020-02-19 17:27] Pinwheeler commented on #26
Checked using the latest version and the issue is resolved. Thanks again!

[2020-02-19 17:29] Rapsssito commented on #26
Glad it worked!

[2020-02-19 17:29] #26 closed

[2020-02-20 12:19] pouyagholami opened #28 "Error when writing Uint8Array to client"
## Description
I have a problem in sending byte array over TCP
[code]
I want to send 101 as byte over TCP but my code sends 'e' character and also sending myarray throws in the following error
](http://s7.picofile.com/file/8388794926/err.jpg)
What should I do?

| OS | Android 7  |
| react-native | 0.61.5   |
| react-native-tcp-socket  | ^3.2.6   |

[2020-02-20 13:05] Rapsssito commented on #28
@pouyagholami, could you upgrade to the latest version of the library and check if the issue still persists?

[2020-02-20 19:36] Rapsssito commented on #28
@pouyagholami, I have released a fix version (**[v.3.2.9](https://github.com/Rapsssito/react-native-tcp-socket/releases/tag/v3.2.9)**) with a fix for the error when sending `Uint8Array` objects.

Your client does not send the 'e' character, the TCP client sends a byte array ([101] in this case). However, when you call `socket.on('data', (data) => {})`, **`data` is a Buffer** object containing [101

[2020-02-20 19:36] #28 closed

[2020-02-27 10:44] micahbule opened #30 "onClose event doesn't fire when one device lose WiFi"
## Description
`onClose` event doesn't fire when a TCP client loses WiFi

## Steps to reproduce
Steps to reproduce the behavior:
1. Instantiate a TCP Server on `device1`.
2. Instantiate a TCP Client on `device2` and connect to `device1`.
3. Turn off WiFi for `device2`.

## Current behavior
Client's socket in the TCP server is still connected.

## Expected behavior
Client's socket in the TCP server

[2020-02-27 11:04] Rapsssito commented on #30
@micahbule, TCP does not provide an explicit disconection event, since it is an idle protocol. You can find more information on this [article about half-open connection](https://blog.stephencleary.com/2009/05/detection-of-half-open-dropped.html).

[2020-02-27 13:01] #30 closed

[2020-02-28 18:50] Pinwheeler opened #31 "Android: SocketException error on write()"
## Description
Reproduction unclear- it appears to happen the first(?) time a socket connection is attempted. This does not appear to happen on iOS. I'll keep investigating and see if I can get more specifics, better repro, or create an isolated test app.

## Steps to reproduce
Steps to reproduce the behavior:
1. Attempt to connect to socket port on android
2. See this error pop up
3. Inbound sock

[2020-02-28 19:18] Pinwheeler commented on #31
The reproduction seems to be non-deterministic in my app- this happens, but only occasionally. I'll keep digging.

[2020-02-28 19:57] Rapsssito commented on #31
Could you provide your socket connection options, please?

[2020-02-28 20:11] Pinwheeler commented on #31
[code]
port: 9876 host: 167.172.200.249

[2020-02-28 20:13] Pinwheeler commented on #31
It looks like this could be something where the server is failing to connect and the java is throwing an error. It looks, however, like the library is not able to call the `onError` callback because it's an exception of an unexpected kind???

I can build the app to handle the connection failure if the error gets propagated up in to javascript.

[2020-02-28 20:32] Rapsssito commented on #31
It looks like an error converting your JS arguments to Java types. Could you provide the error logs from your Android device?

[2020-02-28 20:59] Pinwheeler commented on #31
I suspect it might be something different, but if you have a lead- that's great. Here's the android logs obtained from Android Studio LogCat. If you know of a different/better place to get them let me know

[code]

[2020-02-28 21:00] Pinwheeler commented on #31
The block that it's calling out
[code]

is catching an `IOException`. Would that catch `SocketException` objects as well?

[2020-02-28 22:11] Rapsssito commented on #31
I'll investigate. You'll get a response in 10 hours, sorry for the delay.

[2020-02-28 22:13] Pinwheeler commented on #31
No worries- I attached a debugger and was able to see more details about the error. I'm now seeing that it is this `java.net.SocketException: Socket is not connected` -- it's possible I have some kind of timing issue in my app.

[2020-02-28 22:15] Rapsssito commented on #31
Does this happen when you write to the socket? Could you provide the details of what you are writing?

[2020-02-28 22:31] Pinwheeler commented on #31
So here's the logs that I'm getting.
[code]

that's produced by my SocketClient file

[code]

I'm thinking that this is a timing issue on my end- that it's connecting and not waiting for the connection to come back as established before trying to send the "handshake" line. Probably not a bug on your end. Potentially it might be nice to surface the error in a friendlier way, but I actually am not t

[2020-02-28 22:39] Pinwheeler commented on #31
aha! Your types update suggests there's a callback method for when the connection is established! Bravo! I'll just use that. Sorry for any unnecessary concern I might have caused. Feel free to close or keep open if you want to try to gold-plate the error handling.

[2020-02-28 23:01] Pinwheeler opened #32 "What is the _state property?"
taking a look at the interface for the TcpSocket object, it features a _state property integer that looks like it might tell me whether or not the socket is successfully connected. Wondering if that's allowed/what the number codes might be for determining that.

[2020-02-29 10:07] Rapsssito commented on #31
@Pinwheeler, glad it worked! The documentation may not be clear enough. I will try to fix that as soon as possible.

[2020-02-29 10:07] #31 closed

[2020-02-29 10:14] Rapsssito commented on #32
The `_state` property is a _legacy_ private attribute (note the "_" before its name) from the class `TCPSocket`. It holds the information about the socket connection state. However, as it is a private property, **I do not recommend you to use it, as it might be removed any time soon**.

If you still want to use it, theses are the state number codes:
[code]

If you think that the TCPSocket interfac

[2020-03-03 15:25] Jesus32cm opened #33 "The server of this API accepts external connections?"
Hi, i'm trying to run a socket server on a react-native project (android), that's accept external connections from a client running on a desktop (nodeJS). I already make a code, but it didn't work.

So, i just want to know if this API works for external connections or i'm miss something.

Sorry for the noob question.

[2020-03-03 18:58] #33 closed

[2020-03-03 19:47] Rapsssito commented on #33
@Jesus32cm, it does work with external connections. I hope your issue is resolved!

[2020-03-03 19:54] Jesus32cm commented on #33
Yes, i already figured out what i was missing, thank you for this API

[2020-03-13 20:46] ivantacca commented on #27
Has anyone found a solution for this error? Thanks!

[2020-03-14 10:49] Rapsssito commented on #27
@ivantacca, could you provide your package.json and the steps you follow to install the react-native-tcp-socket?

[2020-04-02 02:24] khoailangdo opened #35 "Can connect to TCP Socket Server writing on C#?"
## Description
I have coding TCP Socket Server on C# and installed it on windows server.
This Tcp Socket server send/receive data by bytes.

I had using react-native-tcp-socket to connect Tcp Server but failed and Tcp Server hang.
Can i using this react-native-tcp-socket on reactnative to connect Tcp server describe above?
Thanks

[2020-04-03 10:11] #35 closed

[2020-04-04 00:54] mfikes opened #36 "Duplicate CocoaAsyncSocket symbols with React Native 0.62.0"
## Description
With React Native 0.62.0, after adding `react-native-tcp-socket`, you will encounter duplicate `CocoaAsyncSocket` symbols.

## Steps to reproduce
Steps to reproduce the behavior:
1. `npx react-native init AwesomeProject --version 0.62.0`
2. `cd AwesomeProject`
3. `yarn add react-native-tcp-socket`
4. `cd ios`
5. `pod install`
6. `cd ..`
7. `npx react-native run-ios`
8. See error

##

[2020-04-04 13:21] Rapsssito commented on #36
@mfikes, thanks for the feedback! Already working on a fix. I'll update you when it is released!

[2020-04-05 11:38] #36 closed

[2020-04-05 11:41] Rapsssito commented on #36
@mfikes, I have released a fix. If the issue still persists, feel free to open this issue!

[2020-04-05 16:57] Overtorment opened #38 "SSL/TLS support"

[2020-04-06 04:34] preduseldavid opened #39 "Cannot convert argument of type class java.net.SocketException"
## Description
Sometimes I get this error: Cannot convert argument of type class java.net.SocketException. I cannot reproduce it because sometimes appears, sometimes not... most of the time it doesn't appear
![1586090928077](https://user-images.githubusercontent.com/47463852/78523319-fc6f1100-77d8-11ea-862b-f2e0e32f5ed9.JPEG)

[2020-04-06 09:02] Rapsssito commented on #39
@preduseldavid 👋👋👋. Could you provide more info about your environment? (RN version, library version, OS, etc.)

Could you also provide the socket configuration with some code for context?

[2020-04-06 09:20] Rapsssito commented on #38
@Overtorment, thanks for your feature request. SSL was not planned originally, but I will take a closer look.

I might have to investigate about **CocoaAsyncSockets known bugs with SSL**. I will update you with any news about this topic.

[2020-04-06 11:46] Overtorment commented on #38
If this helps, I'm currently using https://github.com/wfilleman/react-native-tcp in production which has  TLS for both ios and android, but I don't feel confident in this package. So I'm having hopes for _this_ package to maybe be a superior one 🙏

[2020-04-06 12:09] preduseldavid commented on #39
The current version (just upgraded RN from 0.61.5 a few days ago - the bug was saw on RN 0.61.5)
System:
    OS: Linux 5.3 Linux Mint 19.3 (Tricia)
    CPU: (4) x64 Intel(R) Core(TM) i5-7500 CPU @ 3.40GHz
    Memory: 2.90 GB / 15.60 GB
    Shell: 4.4.20 - /bin/bash
  Binaries:
    Node: 13.12.0 - /usr/bin/node
    Yarn: Not Found
    npm: 6.14.4 - /usr/bin/npm
    Watchman: 4.9.0 - /usr/local/bin/

[2020-04-06 12:51] Rapsssito commented on #39
Thanks for the info, I will check it out!
It will really speed things up if you could provide the piece of code that throws this error (and maybe the socket initialization configuration object).

[2020-04-06 12:53] Rapsssito commented on #38
Thanks for the reference, it helps a lot. I will take a look at their implementation and perform some tests.

I'll update ASAP with more information.

[2020-04-06 14:16] preduseldavid commented on #39
async _connectToServer() {
    var options = {host: this.serverHost, port: this.serverPort};

    NetInfo.fetch().then(state => {
      if (state.isConnected) {
        let client = TcpSocket.createConnection(options, () => {
          if (!this._toastInternetShow && this._reconnecting)
            Toast.show('Connected', false, 3000);
          else Toast.hide();

          this._reconnecting = 0

[2020-04-06 14:47] Overtorment commented on #38
Thanks!

On Mon, 6 Apr 2020 at 13:53, Rodrigo Martin <notifications@github.com>
wrote:

[2020-04-06 15:04] Rapsssito commented on #39
@preduseldavid, thanks. I found the issue! It is related to the callback exception handling when writing on the socket. I will release a fix ASAP.

[2020-04-06 15:15] #39 closed

[2020-04-06 15:23] Rapsssito commented on #39
@preduseldavid, I have released a fix that may resolve your issue 🎉. **If the problem still persists, feel free to reopen this issue**.

Looking at the root cause of the problem, the error `Cannot convert argument of type class java.net.SocketException` might be hiding another issue. If that is the case, please open a bug report and I will be happy to help!

[2020-04-07 13:10] Rapsssito commented on #38
@Overtorment, I have created a [development branch](https://github.com/Rapsssito/react-native-tcp-socket/tree/tls) for the SSL/TLS support. Currently it is only available for the Android TCP client socket, but it adds support for self-signed certificates.

If you want to test it, you can add it to your project:
[code]

[2020-04-07 17:30] Overtorment commented on #38
Is there a way to just ignore certificate check? We have a use case of users connecting to their own servers with self-signed certificates, so we don't know them in advance

[2020-04-07 17:51] Rapsssito commented on #38
@Overtorment, I am working on a way to ignore all certificate check. I will continue updating the `tls` branch with all the new features.

Right now, there is Android and iOS support for standard TLS checks and locally known self-signed certificates.

[2020-04-07 19:09] Rapsssito commented on #38
@Overtorment, there is a way to ignore all certificate checks: you must set `tlsCheckValidity` to `false` in your `createConnection()` options. For more info, **take a look at the [documentation](https://github.com/Rapsssito/react-native-tcp-socket/tree/tls#createconnection)** on the `tls` branch.

Right now, **Android and iOS TCP clients are TLS/SSL compatible**. Can you test it in your project a

[2020-04-07 20:19] Overtorment commented on #38
Will do!

[2020-04-08 00:04] #32 closed

[2020-04-08 11:58] Overtorment commented on #38
success. tested tls/android. didn't test clearnet tcp and ios.
seems to work okay but there are  some issues:

1) there are no methods `setNoDelay`, `setKeepAlive`,  `setEncoding`. I commented them out, but they are available for sockets on all platforms I think.
2) a bit annoying that lib API does not conform to the one described in nodejs documentation. no big deal but I write isomorphic code an

[2020-04-08 14:39] Rapsssito commented on #38
@Overtorment, glad to hear it worked! I am sorry about those issues.

The methods `setNoDelay`, `setKeepAlive`, `setEncoding` are not implemented yet. I will update the documentation to make it clear.

The `react-native-tcp-socket` available API changes significantly from node `net` and `tls` because I am limited by my free time and native code development. The objective of this library is to prov

[2020-04-08 14:43] Overtorment commented on #38
I think those methods you just need to proxy-call socket object on native system, you don’t need to implement anything.

So are you keeping lib api as is? Just to make sure, if it stays like this - it stays, that’s fine, just to know there won’t be any breaking changes :-)

[2020-04-08 14:51] Rapsssito commented on #38
There won't be any breaking changes. I will release the new version in 5 minutes.

About the methods `setNoDelay`, `setKeepAlive` and `setEncoding`, thanks for the tip! I will investigate. As soon as they are implemented, I will release a new version.

[2020-04-08 14:56] #38 closed

[2020-04-08 15:02] Rapsssito opened #41 "Add setNoDelay, setKeepAlive & setEncoding methods"
There are no methods `setNoDelay`, `setKeepAlive`,  `setEncoding`. I commented them out, but they are available for sockets on all platforms I think.

_Originally posted by @Overtorment in https://github.com/Rapsssito/react-native-tcp-socket/issues/38#issuecomment-610916087_

[2020-04-15 18:30] amcdevitt97 opened #42 "Connection closed after first request, cannot be opened after"
## Description
Client on react-native-tcp-socket will send and receive data on the first request, but all further requests are denied with error "connection closed". Is there any way to re-open this connection after the first one closes?

Code for client (React-native-tcp-socket needs updated): https://github.com/YCPRadioTelescope/rtMobile/blob/scripts/src/components/scriptsModal/scriptsModal.js
C

[2020-04-16 07:51] Rapsssito commented on #42
@amcdevitt97 thanks for the report! I'll take a look.

[2020-04-16 17:04] Rapsssito commented on #42
@amcdevitt97 your problem might be related to the **[line 63](https://github.com/YCPRadioTelescope/rtMobile/blob/88752df96412d397d75707f3dbeb621d97441958/src/components/scriptsModal/scriptsModal.js#L63) in the client**.
You call `client.destroy()` right after `TcpSocket.createConnection()`, which makes the client destroy itself immediately after creation. Try to **remove that line and rethink your

[2020-04-16 20:55] manumaso commented on #27
Hi, I have the same error but in runtime, trying to connect:

it's related?

I followed this example, using the 'client' code:
https://github.com/Rapsssito/react-native-tcp-socket/blob/master/examples/tcpsockets/App.js

[2020-04-16 21:07] Rapsssito commented on #27
@manumaso, thanks for the feedback! Could you try two things?
* First try with `cd android` and run `./gradlew clean`.
* If it doesn't work try to reinstall your `node_modules`.

[2020-04-16 22:00] ivantacca commented on #27
Hi, I have just tried again and I'm still getting the same error

`
import * as React from 'react';
import { Text, View, StyleSheet, TouchableOpacity } from 'react-native';
import TcpSocket from 'react-native-tcp-socket';

export default class App extends React.Component {
  _connect = () => {
    client = TcpSocket.createConnection({
      host: "192.168.1.107",
      port: "80"
    });
  }

  re

[2020-04-16 22:17] Rapsssito commented on #27
@ivantacca, could you try that and reply, pls?

[2020-04-16 23:01] ivantacca commented on #27
This worked for me! Thanks!

[2020-04-16 23:02] ivantacca commented on #27
This worked for me! Thanks!

[2020-04-18 22:34] manumaso commented on #27
I tried it several times but it still doesn't work, at the moment of executing the code that involves the library it throws the same error

 in line
'connect' TcpSocket.js: 152:13

Maybe it's something related with expo? I ejected expo from my project, although the application starts well, it crashes when I use the library.

[2020-04-19 15:33] Rapsssito commented on #27
@manumaso, this problem is related to the library linking because RN is not able to find the module. It is probably caused by a cache/node_module/pods **bad synchronization** after the automatic RN linking. I don't have experience with Expo, so I don't know the exact steps you should follow.

My advise is to reset/reinstall the library, node_modules folder, metro cache, Gradle cache and pods (and

[2020-04-19 18:37] amcdevitt97 commented on #42
This was exactly the problem. Can't believe I missed this. Thanks for responding and catching that! Going to close the issue now.

[2020-04-19 18:37] #42 closed

[2020-04-20 19:02] manumaso commented on #27
Well, thanks to it being a recently started project, what I did to fix it (after several attempts to avoid it) was to create a new project from scratch with react-native cli (since I was using Expo) and install all the dependencies again locally.

Thanks for all!

[2020-04-20 20:53] #27 closed

[2020-04-22 01:27] diegoaraujolima opened #43 "react-native-tcp:compileDebugJavaWithJavac FAILED"
Hi. On execute npm run android:
[code]

Can help me?

[2020-04-22 07:07] Rapsssito commented on #43
@diegoaraujolima, thanks for your feedback! It looks like you might have some permission issues, try to run `cd android` and then `./gradlew clean`.

[2020-05-04 14:08] igor-nm opened #44 "Connect to server without IP"
## Description
It's more a question that a bug.
Is it possible to connect to server by local dns os something like that? I asking for you because I'm working in a project that I won't know server IP... Actually, the server IP could be changed.

## Relevant information
| Library | Version |
| ----------- | --- |
| OS | Android & iOS |
| react-native | 0.62.2 |
| react-native-tcp-socket  | 3.5.0 |

[2020-05-05 07:16] Rapsssito commented on #44
@igor-nm, since `react-native-tcp-socket` uses the OS native socket interface, it should work with any domain as long as your device asks the correct local DNS. If you find any issues with the library, feel free to open an issue!

[2020-05-06 09:29] lubbo opened #45 "RejectedExecutionException: AsyncTask.THREAD_POOL_EXECUTOR overflowing"
## Description
I'm trying to implement a device detection.
To detect a device in the network I'm opening a socket and connecting to every IP address in the network: if the connection succeeds, then the device is detected.
To accomplish that I'm cycling through all IPs and I invoke a function that create a connection to the specific host.

In iOS works fine, but in Android after some sockets are op

[2020-05-06 09:33] Rapsssito commented on #45
@lubbo, thanks for the feedback! It looks like the thread pool is overflowing with requests. I will take a look and reply ASAP.

[2020-05-06 10:32] Rapsssito commented on #45
@lubbo, I found the issue. It is related to `AsyncTask.THREAD_POOL_EXECUTOR` being overwhelmed with parallel tasks (the limit is 128). Since `AsyncTask` is going to be deprecated in Android R, to fix this issue **I will have to refactor some of the Android code**.

In the meantime, a workaround would be to schedule your `for` to do 100 queries at a time, then wait for them to finish (so the `THREA

[2020-05-07 14:16] #45 closed

[2020-06-05 16:34] preduseldavid opened #48 "Attempt to invoke virtual method 'void java.net.Socket.setReuseAddress(boolean)' on a null object reference"
I get this error and the socket connection is closed: Attempt to invoke virtual method 'void java.net.Socket.setReuseAddress(boolean)' on a null object reference

[2020-06-07 12:01] Rapsssito commented on #48
@preduseldavid, thanks for your feedback, could you please provide your code, OS, RN version, library version, etc.

[2020-06-07 12:01] #44 closed

[2020-06-08 00:11] #43 closed

[2020-06-08 23:53] preduseldavid commented on #48
Code:
`async _connectToServer() {
    let options = {host: this._serverHost, port: this._serverPort};
    let loading = true;

    NetInfo.fetch().then(state => {
      if (state.isConnected) {
        let client = TcpSocket.createConnection(options, () => {
          if (!this._toastInternetShow && this._reconnecting)
            self.postMessage(
              JSON.stringify({
                ev

[2020-06-09 11:43] serayuzgur opened #49 "Socket closed exception while writing on socket"
Hi at the following line is seems timeout is always -1. I think iOS does not use our timeout parameter. For android i couldn't find and line at all. Is it on purpose or a bug?
https://github.com/Rapsssito/react-native-tcp-socket/blob/5d28d98005a884c7ff9a033c1e0f47e7a344b672/ios/TcpSocketClient.m#L82

[2020-06-09 20:05] Rapsssito commented on #48
@preduseldavid, when does this error occur? Could you also share the full error trace?

[2020-06-09 20:09] Rapsssito commented on #49
@serayuzgur, thanks for your question! Sadly, socket's timeout is currently not implemented. There is JS code that acts as a timeout listener, but it is not fully tested and might not work.

[2020-06-10 07:35] serayuzgur commented on #49
@Rapsssito  it is a kind of important for me. For iOS the client timeout i gave is not working properly and server gets *socket closed exception* on response. Is there any thing we can do about this ?

[2020-06-11 11:14] Rapsssito commented on #49
@serayuzgur, I will try to mimic node's net behavior. In the meantime, this is a possible workaround:
[code]

[2020-06-11 13:40] serayuzgur commented on #49
@Rapsssito , thanks for the response but my problem socket closes before getting the response. So need to prevent or give bigger timeout value than iOS default

[2020-06-12 15:18] Overtorment opened #51 "API adapters (react-native-tcp, net, tls)"
We are slowly migrating to this plugin (pr here https://github.com/BlueWallet/BlueWallet/pull/1223) instead of old `@aprock react-native-tcp`. So far so good! But we will test extensively.

I wanted to raise a concern that this package API does not conform not to nodejs net/tls nor to widely used `@aprock react-native-tcp`. It's no big deal, I wrote adapters, but this package cant work as a drop-i

[2020-06-12 15:27] Rapsssito commented on #49
@serayuzgur, the iOS part of this library uses [CocoaAsyncSocket](https://github.com/robbiehanson/CocoaAsyncSocket).

`withTimeout: -1` actually removes any timeout, so your socket should not be getting a timeout. From CocoaAsyncSocket [documentation](https://github.com/robbiehanson/CocoaAsyncSocket/wiki/Reference_GCDAsyncSocket):
[code]

Your issue might have a different cause. Did you check your

[2020-06-12 15:29] Rapsssito commented on #51
@Overtorment, thanks for your adapters! I will take a look at them. Could you please open a PR so the diff is more readable for me?

[2020-06-12 15:38] Overtorment commented on #51
I can do this next week, or meanwhile you can take a look at my PR, and look for 2 files: `blue_modules/net.js` & `blue_modules/tls.js`

[2020-06-14 10:38] serayuzgur commented on #49
@Rapsssito  No I didn't checked it but it does not occurs on reversed configuration means iOS becomes the server. I will also make some iOS to iOS and Android to Android tests.

[code]

My server handler is like below. So could promises be causing this?
[code]

[2020-06-14 10:48] Rapsssito commented on #49
@serayuzgur, could you also provide the error trace and the client and server socket configurations?

[2020-06-14 10:57] serayuzgur commented on #49
I will post the trace as soon I get it and here are my configurations.

Server
[code]

Client
[code]

[2020-06-14 18:54] Rapsssito commented on #49
@serayuzgur, there might be an issue with the `end()` method. Looking at the code, I found out that in some occasions the socket could disconnect before it writes the data to the stream. I am releasing a fix right now, could you check if that fixes your issue?

[2020-06-15 19:04] mi-mazouz opened #53 "Connection error never emitted on iOS"
## Description

Hello!!

I'm trying to create a tcp connection to an incorrect host (the ip is unreachable).

Here is my code:

[code]

## Current behavior
this function never rejects or resolves.

## Expected behavior
I expected to catch a connection error in the error event listener.

## Relevant information

| react-native | 0.61.5  |
| react-native-tcp-socket  | 3.7.1   |

[2020-06-15 20:41] mateo-gallardo opened #54 "Some events are not emitted in some Android devices"
## Description
On some Android devices some events emitted via the `sendEvent` method in `TcpSocketModule` are not received in the JS side.
For some reason it seems to be fixed with a `Thread.sleep(100)` right before any event is emitted in the `TcpReceiverTask`. Right now I have it before the instantiating the `BufferedInputStream` and it doesn't fail, but I don't understand why.

[code]

Do you

[2020-06-15 22:23] Rapsssito commented on #53
@mi-mazouz, thanks for the feedback! **Currently, there is not _official_ timeout support**. I am working on it. There is JS code that acts as a timeout listener/event, but it is not fully tested and might not work in all circumstances. In the meantime, this is a possible workaround:
[code]

[2020-06-15 22:24] Rapsssito commented on #54
@mateo-gallardo, thanks for your detailed explanation! Could you provide the code you used to test it?

[2020-06-15 22:52] mi-mazouz commented on #53
ok for the timeout but what about the connection error?

[2020-06-16 00:00] Rapsssito commented on #53
@mi-mazouz, if you are setting an "incorrect" IP, you should get an 'error' event with a message along the lines of "Host unreachable".

[2020-06-16 08:03] mi-mazouz commented on #53
That's what I expected but it never happened

[2020-06-16 10:33] Rapsssito commented on #53
@mi-mazouz, can you reproduce the bug using the example code?

[2020-06-16 10:41] mi-mazouz commented on #53
@Rapsssito Yes you should be able to reproduce using my code

[2020-06-16 10:43] Rapsssito commented on #53
@mi-mazouz, I meant if you could reproduce the issue using the [example code](https://github.com/Rapsssito/react-native-tcp-socket/tree/master/examples/tcpsockets) provided in the repository. You can comment out all the server references and test the client with your "incorrect" IP.

[2020-06-16 13:09] mateo-gallardo commented on #54
The server would concatenate all the JSON data received during the connection and parse it on close, that's how I know it failed, at no point the data event is fired and the parsing fails with `Unexpected EOF`.

[code]

The client I'm using is actually a native iOS app, but any connection will do. Just a `0..100` for loop that sends the same JSON.

[2020-06-16 15:57] preduseldavid commented on #48
@Rapsssito I don't have the full error trace, but will share it when the error occurs again. Sometimes it appears, and the most of the times it doesn't... I want to also let you know that the connection is closed sometimes with this error: java.net.SocketException: Socket is not connected (and I use the above code)

[2020-06-16 15:57] Rapsssito commented on #54
@mateo-gallardo, thanks for the code! As I understand it, the issue is that the `'close'` event is being called before the `'data'` event, even though the socket sends the data before it closes the connection. Is that right?

[2020-06-16 16:04] Rapsssito commented on #48
@preduseldavid, those kind of errors are probably caused by calling the socket **before it has finished establishing the connection**.

I see you declare `this._client = client;` before the `TcpSocket.createConnection` callback has been executed. This may lead to this kind of errors if you call `this._client` _quickly enough_. Try to move this declaration (`this._client = client;`) inside the call

[2020-06-16 16:08] Overtorment commented on #51
fyi, we migrated and rolling out to production.
I see this package is releasing faster than I can update :-)

FYI had to do some changes in adapters  https://github.com/BlueWallet/BlueWallet/blob/master/blue_modules/net.js
https://github.com/BlueWallet/BlueWallet/blob/master/blue_modules/tls.js
to make it work with `3.7.1` better

[2020-06-16 16:11] Rapsssito commented on #51
@Overtorment, sorry about the releases, I am finally getting some free time to fix and update the package! The objective is to make it as similar as possible to the node net API.

[2020-06-16 16:17] Overtorment commented on #51
if it is not improving performance a lot or fixes some major issues I wont update, for now. busy with other stuff, but good job! will plan update on roadmap

[2020-06-16 16:42] mateo-gallardo commented on #54
That was my suspicion at first, but logging the native Android code revealed that the events where being fired, just not received on the JS side.
That `Thread.sleep` 'fixes' it for some reason, even with a 1ms sleep I got 1 error of out 300 tries.

I did quite a bit googling, but I couldn't find anything related to RN's events and background threads.

[2020-06-16 16:45] Rapsssito commented on #54
@mateo-gallardo, I think it is related to `RCTDeviceEventEmitter` not being thread safe. I am investigating, I will get in touch as soon as I find something. Is this also happening on iOS?

[2020-06-16 16:49] mateo-gallardo commented on #54
Great thanks! Let me know if you have any theories/code that I can test out.
iOS works just fine 👍

[2020-06-16 19:54] mateo-gallardo commented on #54
I tried running the `sendEvent` method in the main thread posting `Runnables` in `Handler` (`new Handler(Looper.getMainLooper())`) like they do in [this PR](https://github.com/urbanairship/react-native-module/pull/150/files) but no luck.

I haven't tried queuing them up and sending them FIFO but I assume that running them in the same thread would guarantee that.

[2020-06-16 21:10] Rapsssito commented on #54
@mateo-gallardo, could you try changing `sendEvent()` from `private void` to `private synchronized void`?

[2020-06-16 22:11] mateo-gallardo commented on #54
Just tried it, sadly it didn't work.

[2020-06-16 22:34] Rapsssito commented on #54
@mateo-gallardo, I cannot reproduce the issue by myself. Could you provide me with a minimal reproducible code that I could test against?

[2020-06-17 09:15] mi-mazouz commented on #53
same with this code, nothing happened:

[code]

[2020-06-17 12:37] mateo-gallardo commented on #54
The main factor with this issue is hardware, as I said in the Pixel 3 works fine but in the Huawei tablet it doesn't.
I'll make a minimal app with the TCP server and a NodeJS client that sends a lot of JSONs and get back to you.

[2020-06-17 12:46] Rapsssito commented on #54
@mateo-gallardo thanks so much! I also have a Pixel 3, but I know a couple friends with different Android phones. With your minimal code I would be able to work on a solution much faster.

[2020-06-17 13:01] Rapsssito commented on #53
@mi-mazouz, glad it works with `setTimeout()`! I am not able to reproduce the issue, the device on 192.168.1.1 may be accepting the TCP connection and keeping it on hold forever (that's why you don't get any error).

I will be releasing a `setTimeout()` update soon (#56), it should work in all scenarios.

[2020-06-17 14:41] mi-mazouz commented on #53
It's the when I change the ip

[2020-06-17 18:41] mateo-gallardo commented on #54
Ok, here's the app that will display how many errors parsing the JSON it gets.
https://github.com/mateo-gallardo/tcp-socket-error-test-app

![App image that shows an error count of 36](https://i.imgur.com/wpWlBIB.png)

And here's the "client" that'll connect to the app and send a JSON every 1 second until you quit the process. Make sure you change the IP in the `index.js` file before running it.
h

[2020-06-18 10:33] Rapsssito commented on #53
@mi-mazouz, what device are you using?

[2020-06-18 12:51] Rapsssito commented on #54
@mateo-gallardo, using your code changing the JSON timeout to 1 millisecond I am able to reproduce the `Unexpected EOF` exception in a Pixel 3. I am investigating.

[2020-06-18 15:50] Rapsssito commented on #54
@mateo-gallardo, I think I found something. Could you try to swap the lines 32 and 33 in `TcpSocketServer.java`? It would look like this:
[code]

[2020-06-18 16:12] mateo-gallardo commented on #54
YES! That fixed it, thanks!
Works perfectly in the example app and the app I'm working on. Great job!

[2020-06-18 18:31] #54 closed

[2020-06-19 08:52] mi-mazouz commented on #53
what do you mean? I use my own device but it does not change anything because the problem persists even if my device is off

[2020-06-19 10:23] Rapsssito commented on #53
@mi-mazouz, I mean what device are you using to test the app: iPhone, Huawei, Pixel...

[2020-06-19 11:00] mi-mazouz commented on #53
I'm testing with ios simulator

[2020-06-19 21:24] Rapsssito commented on #53
@mi-mazouz, I am able to reproduce the bug on iOS. Working on it.

[2020-06-20 17:21] Badal1234 opened #57 "while creating server i am getting error 'An error ocuured with the server port'"
## Description
A clear and concise description of what the bug is.

## Steps to reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

## Current behavior
A clear and concise description of what happened.

## Expected behavior
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots

[2020-06-20 21:35] Rapsssito commented on #57
@Badal1234, could you please fill the bug report template?

[2020-06-22 09:49] chico opened #58 "Incorrect iOS react-native linking for 1.2.2 due to typos in project.pbxproj"
## Description
Using React Native 0.59.9, after running `react-native link react-native-tcp-socket` and then `react-native run-ios`, the iOS build fails with `library not found`.

I was able to get it working by manually changing the iOS project.pbxproj, as it was incorrectly referencing `TcpSocket.xcodeproj` and `libTcpSocket.a` instead of `TcpSockets.xcodeproj` and `libTcpSockets.a` (so it's jus

[2020-06-22 12:12] Rapsssito commented on #58
@chico, thanks for the feedback! I will create a new branch for RN< 60.0 so you can push your changes as a PR.

[2020-06-23 09:18] chico commented on #58
@Rapsssito the changes that I did I applied locally in my own react native project. I'm not sure how to fix it within the react-native-tcp-socket project since I'm not experienced in native module linking so I'm not sure how 'react-native link' does its linking. I had a look at the iOS project for 1.2.2 https://github.com/Rapsssito/react-native-tcp-socket/blob/v1.2.2/ios/TcpSockets.xcodeproj/proje

[2020-06-24 08:49] houzhanshan opened #59 "> Task :react-native-tcp-socket:compileDebugJavaWithJavac FAILED"
195 actionable tasks: 10 executed, 185 up-to-date
/../../../node_modules/react-native-tcp-socket/android/src/main/java/com/asterinet/react/tcpsocket/TcpSocketModule.java:74: 错误: 找不到符号
        new GuardedAsyncTask<Void, Void>(mReactContext.getExceptionHandler()) {
                                                      ^
  符号:   方法 getExceptionHandler()
  位置: 类型为ReactApplicationContext的变量 mReactConte

[2020-06-24 08:50] houzhanshan commented on #59
"react-native": "0.60.5",

[2020-06-25 13:37] Rapsssito commented on #58
@chico I am not sure either. Current RN versions rely on automatic linking. I will take a look at your diffs and the project file.

[2020-06-25 14:11] chico commented on #58
@Rapsssito thanks 👍. If there is no easy fix then maybe you can update the README for `RN < 60` on how to do the manual fix after running `react-native link react-native-tcp-socket`.

[2020-06-25 15:03] Rapsssito commented on #59
@houzhanshan, The issue is related to your RN version. The library uses methods only available in RN >= 0.61.

I have released **`1.2.2`**, compatible with RN 0.60. Check if everything works. Check the [README](https://github.com/Rapsssito/react-native-tcp-socket#react-native-compatibility) for more details.

Duplicate of #4

[2020-06-25 15:03] #59 closed

[2020-06-30 03:07] houzhanshan opened #60 "How to handle file stream to byte stream?"
Sorry to disturb you again, I need to transfer files using TCP, how do I handle the file stream to byte stream

[2020-07-01 08:32] phungthanhdong commented on #36
Hello,
It appears that the issue happen again in v4.0.0
![Screen Shot 2020-07-01 at 3 30 29 PM](https://user-images.githubusercontent.com/24285778/86222061-eb535780-bbaf-11ea-9568-778dc0656e2f.png)
![Screen Shot 2020-07-01 at 3 29 43 PM](https://user-images.githubusercontent.com/24285778/86222066-ec848480-bbaf-11ea-8324-de89428ba6f2.png)
Could you please update it!
Thanks

[2020-07-01 08:40] phungthanhdong opened #61 "(Happen again in v4.0.0)Duplicate CocoaAsyncSocket symbols with React Native 0.62.0"
Hello,
It appears that the issue happen again in v4.0.0
![Screen Shot 2020-07-01 at 3 30 29 PM](https://user-images.githubusercontent.com/24285778/86222061-eb535780-bbaf-11ea-9568-778dc0656e2f.png)
![Screen Shot 2020-07-01 at 3 29 43 PM](https://user-images.githubusercontent.com/24285778/86222066-ec848480-bbaf-11ea-8324-de89428ba6f2.png)
Could you please update it!
Thanks

_Originally posted by @p

[2020-07-01 17:42] Rapsssito commented on #61
@phungthanhdong, could you try refreshing your node modules folder?

[2020-07-01 17:48] Rapsssito commented on #60
@houzhanshan, a "file stream" is actually a byte stream. Just make sure to keep all data on a buffer and then dump it wherever you want:

[code]

_You can find more info on this [gist](https://gist.github.com/jcarroyo/03f349d2e201fe0c988fd8e5f8c72405)_

[2020-07-02 02:21] houzhanshan commented on #60
Thanks a lot, help me

[2020-07-02 15:09] dpankros commented on #36
I get the almost exactly the same errors as @phungthanhdong, but with two small differences (architecture and number of duplicate symbols):
[code]
Underlying cause is still probably the same.

[2020-07-02 15:25] #60 closed

[2020-07-02 15:26] Rapsssito commented on #36
@dpankros, could you move your comment to #61?

[2020-07-02 15:27] Rapsssito commented on #61
@phungthanhdong and @dpankros, make sure to refresh your pods and node_modules.

[2020-07-05 12:15] Jiope commented on #61
Hi guys,

First of all thanks for your package @Rapsssito it's been really helpful.

@phungthanhdong, the issue also happened to me, i found a consistent way to get rid of the error.

Procedure:
1) Go to xcode
2) into project navigator, click on Pods folder
3) then select TcpSockets in targets
4) Go to Build Phases > Compile sources
5) Here remove reference to CocoaAsyncSocket

I think the issue i

[2020-07-06 10:54] deiv23 opened #63 "no client found with id X"
Hi, I have problems on IOS, when I try to reuse the socket I receive:
Error in connect() function
no client found with id X

Same code is running ok on Android. First connection works ok on IOS

[2020-07-06 11:22] Rapsssito commented on #63
@deiv23, could you please fill the issue "bug template" form?

[2020-07-06 12:06] deiv23 commented on #63
**Description**

I have problems on IOS, when I try to reuse the socket I receive:
Error in connect() function
no client found with id X

**Dependencies**

react-native 0.61.5
react-native-tcp-socket 3.2.4

**Steps to reproduce the behavior:**

    create a client socket.
    define on error callback
    write to socket.

**Current behavior**

    if I execute the previous sequence once, all works

[2020-07-06 14:47] deiv23 opened #64 "iOS: No client found with id X"
**Description**

I have problems on IOS, when I try to reuse the socket I receive:
Error in connect() function
no client found with id X

**Dependencies**

react-native 0.61.5
react-native-tcp-socket 3.2.4

**Steps to reproduce the behavior:**

calling a function like this twice.

    function send()
    {
             var options = {port:4444, host: x.x.x.x, reuseAddress:true, localAdress: y.y.y.

[2020-07-06 14:53] Rapsssito commented on #63
Moved to #64

[2020-07-06 14:53] #63 closed

[2020-07-06 14:56] Rapsssito commented on #64
@deiv23, you are calling the socket before it has been created. You have to use the callback provided by `TcpSocket.createConnection()`:

[code]

[2020-07-06 15:47] deiv23 commented on #64
@Rapsssito  thanks for the reply. Im trying to implement but that callback doesn't get called, I don't know why

[2020-07-06 15:53] Rapsssito commented on #64
@deiv23, you can take a look at the [example code](https://github.com/Rapsssito/react-native-tcp-socket/tree/master/examples/tcpsockets) for a more exhaustive example.

[2020-07-07 07:12] deiv23 commented on #64
@Rapsssito I have the callback working, but second time I execute the function send, the createConnection callback isn't called. No errors shown.
The server is ready to respond, I tested with an external tool after the first send, and the server is ready.

[2020-07-07 11:46] rachitgupta98 opened #65 "Communication between Node's net and react-native-tcp-socket"
does it work or communication will happen, if I am writing client using node net api and server using react-native-tcp-socket(android)????

[2020-07-07 11:49] Rapsssito commented on #65
@rachitgupta98, you should not find any issues, both rely on the TCP protocol.

[2020-07-07 11:49] #65 closed

[2020-07-08 11:08] Rapsssito commented on #64
@deiv23, it might be related to a bad config on your server or a wrong logic on your client's code. I cannot help you without any more information.

[2020-07-08 11:56] deiv23 commented on #64
Hi, i tried with react-native-tcp and now its working fine. Thanks for your
help anyway

El El mié, 8 jul 2020 a las 13:08, Rodrigo Martin <notifications@github.com>
escribió:

[2020-07-08 12:20] #64 closed

[2020-07-09 17:36] kelcon opened #68 "iOS: Server not responding after getting to background and back. No error event triggered"
## Description
Server not responding after getting to background and back
No error event triggered

## Steps to reproduce
I have basic server configuration (simple http server). It works perfect while on foreground. If go background, it will stop responding after several seconds. It will not go back nor emit error or close event.

Options:
[code]

## Current behavior
As described above.

## Expect

[2020-07-10 10:15] Rapsssito commented on #68
@kelcon, sorry you have that issue. Sadly, **iOS closes all TCP connections after a short period of time after the app has been sent to the background**.

However, you can use a background service React Native library to keep your app running in the background with all sockets open. I created [`react-native-background-actions`](https://github.com/Rapsssito/react-native-background-actions), but the

[2020-07-14 07:39] kelcon commented on #68
Thank you. I will check it. I have discovered other approach in the mean time - to listen for an app state change and respawn server after "active" state event.

[2020-07-14 07:46] kelcon opened #69 "Unhandled error event"
## Description
I receive global unhandled error event causing app to crash.

## Steps to reproduce
Steps to reproduce the behavior:

I am not able to reproduce. It is quite random.

Code:
[code]

## Current behavior
A clear and concise description of what happened.

[code]

## Expected behavior
Not to crash

## Relevant information
|             |     |
| ----------- | --- |
| OS | 13.3  |
| react

[2020-07-14 09:25] #68 closed

[2020-07-14 09:26] Rapsssito commented on #69
@kelcon, do you have any more information? When does this error occur?

[2020-07-14 16:47] kelcon commented on #69
I assume, that it might be a my fault related to not having 'error' listener attached to the server (not socket)

[2020-07-15 15:47] Rapsssito commented on #69
@kelcon, if you add an error listener, do you get any more information?

[2020-07-22 00:16] #49 closed

[2020-07-27 10:02] wangfpp opened #70 "EADDRINUSE (Address already in use)"
## Description
EADDRINUSE (Address already in use)

## Steps to reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Or code:
[code]

## Current behavior
socket.write('Echo server', data); cause Socket on close  why?

## Relevant information
|             |     |
| ----------- | --- |
| OS | Linux   |
| react-native | 0.63.1 |
| react-

[2020-07-28 01:33] wangfpp opened #71 "Error during WebSocket handshake: net::ERR_INVALID_HTTP_RESPONSE"
## Description
in web js Error during WebSocket handshake

## Steps to reproduce

Or code:
[code]

## Relevant information
|             |     |
| ----------- | --- |
| OS | Ubuntu20.04  |
| react-native | 0.63.1   |
| react-native-tcp-socket  | 4.2.0   |

[2020-07-28 23:11] fnando commented on #61
@Jiope thanks for the temporary (!) fix. I noticed that this is not persisted between different `pod install` executions. Is there a way of doing it or the only solution would be forking the repo and removing that item from the compile source list?

[2020-07-29 00:16] #57 closed

[2020-07-29 00:16] #48 closed

[2020-07-29 10:44] Rapsssito commented on #71
@wangfpp, this not related to `react-native-tcp-socket`. Please, post this question on StackOverflow.

[2020-07-29 10:44] #71 closed

[2020-07-29 10:46] Rapsssito commented on #70
@wangfpp, make sure to read the documentation for `socket.write()`. Notice the method's interface is `socket.write(data[, encoding][, callback])`.

[2020-08-03 03:51] MLY123 opened #72 "Error:unHandled error.(undefined)"
## Description
A clear and concise description of what the bug is.

## Steps to reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Or code:
[code]

## Current behavior
A clear and concise description of what happened.

## Expected behavior
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2020-08-03 16:22] Rapsssito commented on #72
@MLY123, could you please fill the issue "bug template" form?

[2020-08-04 13:55] mi-mazouz commented on #53
hey @Rapsssito, do you have any news about this issue?

[2020-08-04 13:57] Rapsssito commented on #53
@mi-mazouz, I have not been able to figure it out yet. I have came into the conclusion that it might be related to `GCDAsyncSocket` inner workings. I am still working on it. If you find anything, please let me know.

[2020-08-06 14:02] bencun opened #73 "Connecting to an FTP server with TLS enabled results in Handshake failed exception"
## Description
I'm successfully connecting to my FTP server (Filezilla) over port 2121 in plain text mode and I'm greeted with 220 Welcome. However, when using the following options:
[code]
...I get the Handshake failed exception.

## Steps to reproduce
Try connecting to a FTP server with TLS enabled

## Current behavior
Handshake failed exception.

## Expected behavior
Successful socket connectio

[2020-08-06 15:00] Rapsssito commented on #73
@bencun, sorry for your issue and thanks for the feedback. **Are you using Android or iOS?**

You can take a look at the server and client examples shown in the [documentation](https://github.com/Rapsssito/react-native-tcp-socket#client). I will update the API section with all the valid events to make it clearer.

[2020-08-07 09:53] bencun commented on #73
@Rapsssito the app is running on Android. I'll be spinning up another FTP server with a different certificate and TLS today and try spinning it up and testing.
I did everything as described in the examples but unfortunately that didn't help.

[2020-08-07 10:32] bencun commented on #73
@Rapsssito I've tried connecting to a completely different FTP server that uses proper SSL security on port 22 and I got the same Handshake failed exception.

[2020-08-07 12:00] Rapsssito commented on #73
@bencun, sorry but I am not familiar with raw TCP connections to FTP, but I will try my best to help. Have you check if it works without SSL?

[2020-08-10 19:00] bencun commented on #73
Yes! It works without SSL no issues there!

[2020-08-11 10:01] Rapsssito commented on #73
@bencun, it might sound like a dumb question, but have you tested the SSL FTP with other software like Filezilla or something like that?

[2020-08-11 21:53] bencun commented on #73
Yes I did, that's exactly what I described in this comment:
https://github.com/Rapsssito/react-native-tcp-socket/issues/73#issuecomment-670450786
I didn't mention it was Filezilla but yes - and it's not working.

It seems to me after some research that this issue might be unrelated to how sockets work and FTP might actually have it's own SSL implementation so I'll be closing this for now, if I com

[2020-08-11 21:53] #73 closed

[2020-08-30 16:52] Rapsssito commented on #58
@chico, I have created a new version of react-native-tcp-socket with React Native <=0.59 compatibility: **v1.4.0**. It should fix this issue and also provide you with the latest fixes and features. You can check out the [RN59 branch](https://github.com/Rapsssito/react-native-tcp-socket/tree/RN59) for the source code. Hope it helps!

[2020-08-30 16:52] #58 closed

[2020-08-31 05:28] chico commented on #58
@Rapsssito that's awesome, thank you so much, I will try out **1.4.0** soon 🤞

[2020-09-02 11:22] Overtorment opened #76 "TOR support"
Would be nice to be able to connect to  `.onion` hosts  through TOR network

[2020-09-02 13:41] Rapsssito commented on #76
@Overtorment, I will take a look. I don't have much experience with TOR in the socket level, **any help is greatly appreciated**!

[2020-09-02 13:42] Rapsssito commented on #51
Moved to #41.

[2020-09-02 13:42] #51 closed

[2020-09-02 15:09] Rapsssito commented on #76
@Overtorment, I look it up, but sadly it is out of the scope of this module. `react-native-tcp-socket` aims to provide the lowest level TCP socket API for Android & iOS, but TOR requires protocols that are built on top of TCP.

I could set up [CloudFlare's TOR DNS](https://blog.cloudflare.com/welcome-hidden-resolver/) for `.onion` domains, but the connection after that would be direct with the ser

[2020-09-02 23:59] ssvillamor23 opened #77 "Add socket.pause() & socket.resume() methods. Handling multiple TCP response slows down the app."
Hi,

I started learning this React Native and using multiple interfaces with different devices that streaming data.
I stumble and stuck up in a situation where My app really slows down that it almost freezes and have to wait 10 seconds for each event and rendering to happened.
Everything works fine until I use this component / library

Just some questions:

1) does socket.pause and socket resume w

[2020-09-03 08:35] Rapsssito commented on #77
@ssvillamor23, **`socket.pause()` and `socket.resume()` are not supported yet**, but they are coming on the near future (you can check the progress on #41).

I cannot help you with that. However, you can check StackOverflow for Node's net questions about this issue, the code should be the same.

TCP is connection-oriented, and a connection between client and server is established before data can b

[2020-09-08 00:22] #70 closed

[2020-09-08 00:22] #61 closed

[2020-09-09 22:01] liran opened #78 "How to handle backpressure?"
## Description
When writing a large file, if we don't have a **drain** event, how do we handle backpressure?
about **drain** : https://nodejs.org/api/stream.html#stream_event_drain

## Steps to reproduce
none

## Current behavior
none

## Expected behavior
none

## Relevant information
none

[2020-09-10 08:34] Rapsssito commented on #78
@liran, thanks for the feedback! I don't know about "backpressure" or the "drain" event. I will inform myself and come back to you when I have something.

[2020-09-10 19:53] liran commented on #78
If the receiver adjusts the speed of receiving data through `pause()` and `resume()`, the corresponding sender also needs to slow down the data writing speed.
Through the [`drain` event](https://nodejs.org/api/net.html#net_event_drain), the sender can control the write speed.
Therefore, when implementing `pause()` and `resume()` for the receiver in #41, the `drain` event should also be implemented

[2020-09-11 13:34] Rapsssito commented on #78
@liran, I will add a `drain` event when `socket.pause()` and `socket.resume()` are implemented. In the meantime, a _hacky_ workaround might be using the callback argument provided to `socket.write()` and some extra logic.

[2020-09-11 13:59] liran commented on #78
@Rapsssito Thank you for your efforts.

[2020-09-12 12:50] liran opened #79 "Server documentation error"
There is an error in the code to start a server.
https://github.com/Rapsssito/react-native-tcp-socket#server
[code]
This is why #57 appears.

[2020-09-12 12:56] Rapsssito commented on #79
@liran, thanks! You are right, I will fix it right now.

[2020-09-12 12:59] #79 closed

[2020-09-15 00:22] #72 closed

[2020-09-22 10:42] #76 closed

[2020-09-22 13:56] Overtorment opened #80 "Built-in socks proxy support?"

[2020-09-22 19:17] Rapsssito commented on #80
@Overtorment, thanks for the feature request! I will check what I can do and come back to you ASAP.

[2020-10-01 23:57] eddieAnthem opened #81 "TcpServer doesn't report correct port when it is automatically allocated"
## Description
A clear and concise description of what the bug is.

According to the Java documentation of ServerSocket ( https://docs.oracle.com/javase/7/docs/api/java/net/ServerSocket.html#ServerSocket(int,%20int,%20java.net.InetAddress) )
if you provide 0 for the port number a port will be automatically allocated. That part works correctly in react-native-tcp-socket, but the 'connect' callback

[2020-10-02 14:21] #81 closed

[2020-10-15 00:27] #77 closed

[2020-10-29 04:45] roshan532 commented on #27
have to try this two things please tell me

[2020-10-30 09:29] simonhoss opened #85 "Wrong example for socket.write?"
Hi

In the documentation you have the following example under https://github.com/Rapsssito/react-native-tcp-socket#server

[code]

I think the correct one would be the following example, because the second parameter is the encoding or a callback, right?

[code]

[2020-10-30 19:32] Rapsssito commented on #85
@simonhoss, you are right! Thanks for pointing that out.

[2020-10-30 19:33] #85 closed

[2020-11-13 09:27] MFedour opened #86 "TcpScokets tried to override TcpSockets"
Hi ! I'm facing an issue at the installation
I've followed the installation tutorial but I've the following error on react-native run-android

![Screenshot_20201113-102313_control_ts4](https://user-images.githubusercontent.com/74404115/99056366-8286dd80-259a-11eb-8a5c-2591d48699ab.jpg)

There is no duplicate tcpSocket in MainApplication.java getPackages()

React native version are:

react-native-c

[2020-11-13 21:23] Rapsssito commented on #86
@MFedour, I had never seen this error. Could you provide your `package.json`? You might have two libraries using the name `TcpSockets`.

[2020-12-03 23:15] radelcom opened #87 "Is this compatible with Node 'tls' API?"
## Description
Just a question if this library is also compatible with Node TLS API

[2020-12-04 10:16] Rapsssito commented on #87
@radelcom, sadly only `TcpSocket.createConnection()` has some functionalities from the tls API (take a look at the [createConnection() documentation](https://github.com/Rapsssito/react-native-tcp-socket#createconnection)). However, take into account that `tls` and `net` API's share most of the functionalities.

[2020-12-05 15:37] MaxGER2019 opened #88 "Starting a Server always returns EADDRINUSE on every port"
## Description
I just followed the example from the npm page for creating a tcp server.
If i try to run this it always loggs following:
![image](https://user-images.githubusercontent.com/50122507/101246952-c642b200-3716-11eb-876c-93fcc24a4a56.png)
I've tried multiple ports but nothing helped. I always get the "Adress already in use" error.

## Steps to reproduce
Steps to reproduce the behavior:
1.

[2020-12-05 18:38] Rapsssito commented on #88
@MaxGER2019, thanks for the feedback! Which ports have you tested? Does this issue still occur if you set the server address to `'0.0.0.0'` instead of `localhost`?

[2020-12-05 19:14] MaxGER2019 commented on #88
Hey @Rapsssito thanks a lot for the fast reply.
I first tried it with 0.0.0.0 and after that with localhost on diffrent random ports.
All seem to be used already.

[2020-12-05 19:18] Rapsssito commented on #88
@MaxGER2019, could you check if you experience the same issue with the [example code](https://github.com/Rapsssito/react-native-tcp-socket/tree/master/examples/tcpsockets)?

[2020-12-05 20:07] MaxGER2019 commented on #88
I will try it

[2020-12-05 20:38] MaxGER2019 commented on #88
New Update:

It looks like if i use the exact code as in the template it does work. Even with the before tested ports that didn't work it now works. And i realy dont know why. I am trying a few things and if i stumble upon the issue i will post it here but for now this worked for me. Thanks a lot @Rapsssito

[2020-12-05 20:44] MaxGER2019 commented on #88
Update #2:
Another thing that i noticed is if i set a port (for example 5208) it starts the server but if i reload the app it says EADDRINUSE again.

[2020-12-05 20:48] MaxGER2019 commented on #88
Update 3#:
Found a way to fix the reload app port in use error by adding `this.server.close();` before the `this.server = null;` in the `componentWillUnmount()` function.

[2020-12-05 23:33] Rapsssito commented on #88
@MaxGER2019 have you tried setting the reuse address option to `true`?

[2020-12-06 17:27] MaxGER2019 commented on #88
@Rapsssito Yes like I said I just copy and paste the example from the template into my app.

[2020-12-06 21:41] MaxGER2019 commented on #88
@Rapsssito A new little Update:

I tried following with the example from this github repo:

I've changed the `const serverPort` to something static (in my case to `5208`) and deleted all client code so that just the server should start. After doing this it started the server but when I reload (and i mean reload not hotreload) it gives me the `EADDRINUSE` error again. I think you could try to repro

[2020-12-06 21:49] MaxGER2019 commented on #88
Another question I got for @Rapsssito is: why are you JSON stringify the `socket. address()` variable if it returns a string anyway? This doesn't make any sense to me.

[2020-12-06 21:54] MaxGER2019 commented on #88
Ok, so I at least found a way to fix this so that you don't have to reload the react-native console because it looks like when you close the app and open it again it works again.

[2020-12-06 22:05] MaxGER2019 commented on #88
Ok, I think I finally got a solution.
I just added this to the `componentWillUnmount()` function:

[code]

This somehow works at least for hot-reloads but not for a complete reload (like shaking your phone and then clicking reload or typing r in the dev console). However, if you want to reload your app you need to close the app completely on you're phone (just on your phone not in the dev console)

[2020-12-06 22:05] #88 closed

[2020-12-07 14:01] Rapsssito commented on #88
Glad you found a workaround. I might have an idea on how to fix that, but it requires more testing.

You are right, it is a remainder from the old example code, I will correct it on the next update.

[2020-12-11 12:59] Fedour57 opened #89 "Handle connection refused error"
## Description

Hello, I'm trying to handle a` connection refused` error, if I try to connect to a server that doesn't exist, my app crash.

## Steps to reproduce

Code:
[code]

OR

[code]

## Current behavior
The app crash when the client can not connect to the server.

## Expected behavior
The try catch block should handle the error

## Relevant information
|             |     |
| ----------- |

[2020-12-12 12:33] Rapsssito commented on #89
@Fedour57, thanks for your feedback! Please, take a look at #53, it might be your problem. You could try some of the workarounds commented over there.

[2020-12-12 12:33] #89 closed

[2020-12-14 08:04] mrdevil64 commented on #69
i also get "unhandled error" problem while calling createConnection method . Please anyone help me to solve this problem

[2020-12-15 08:25] mrdevil64 opened #90 "Unhandled error event while calling createConnection method"
I want to create file transfer app in react-native.
I can create server using react-native-tcp-socket,
but, problem arises while i try to connect the server , using createConnection method.
it shows "unhandled event" error

=======================================================
[code]

[2020-12-15 19:14] Rapsssito commented on #90
@mrdevil64, could you try adding a listener for 'error' to `this.client`?

[2020-12-17 09:46] Hektar90 opened #91 "Duplicate CocoaAsyncSocket symbols with React Native 0.63.4"
similar issue #61

<img width="303" alt="Bildschirmfoto 2020-12-17 um 10 39 38" src="https://user-images.githubusercontent.com/15243732/102470391-34ab3c80-4054-11eb-990a-899ad9fe3439.png">
<img width="1297" alt="Bildschirmfoto 2020-12-17 um 10 40 34" src="https://user-images.githubusercontent.com/15243732/102470630-88b62100-4054-11eb-8765-c17eac971695.png">

[2020-12-17 18:42] Rapsssito commented on #91
Have you tried with the solution proposed here https://github.com/Rapsssito/react-native-tcp-socket/issues/61#issuecomment-653881488 ?

[2020-12-19 22:06] Nikotecnology opened #92 "Close connection outside the function"
Hi, i was tryng to install this repo but i can't start the application because of this error: "TypeError: undefined is not an object (evaluating '_reactNativeTcpSocket.default.createConnection')". Now i reinstalled the library and now it  says this error: "Native module cannot be null" Someone knows how to resolve this?

[2020-12-20 20:46] Rapsssito commented on #92
@Nikotecnology, take a look at #27, it might be the same issue.

[2020-12-20 20:47] Nikotecnology commented on #92
No, I see that but it didn't resolve the problem

[2020-12-20 20:49] Rapsssito commented on #92
@Nikotecnology, what RN version are you using? Are you on iOS or Android? How are you importing the library?

[2020-12-20 21:18] Nikotecnology commented on #92
The latest version, I downloaded with "npm i react-native-tcp-socket"

[2020-12-20 22:14] Rapsssito commented on #92
@Nikotecnology, I am sorry I cannot help you with Expo. However, you might need to [eject](https://docs.expo.io/bare/customizing/) your project first in order to get custom modules to work.

[2020-12-20 22:15] Nikotecnology commented on #92
Ok, ill'try but I see more people that having this problem ,not with expo

[2020-12-20 22:17] Rapsssito commented on #92
@Nikotecnology it is a common issue among custom modules. React Native automatic linking sometimes fails, the XCode cache is not correctly cleared, the module download is corrupt, metro cache is not correctly cleared, etc.

[2020-12-20 22:19] Nikotecnology commented on #92
Ok for that it's ok I will eject it and try

[2020-12-22 00:30] #86 closed

[2020-12-22 06:47] Nikotecnology commented on #92
I removed expo and it seems working, but i cant close the connection externaly the function for connecting, how i can do?

[2020-12-22 11:49] Rapsssito commented on #92
@Nikotecnology, I don't understand your problem, could you elaborate?

[2020-12-22 11:51] Nikotecnology commented on #92
I created a function(_connect) and when the user clicks the button the connection stabilish, i want to do the disconect button and the reconnect button how i can do?

[2020-12-22 11:53] Rapsssito commented on #92
@Nikotecnology, take a look at the [docs](https://github.com/Rapsssito/react-native-tcp-socket#tcpsocket). You might want to use the `destroy()` method.

[2020-12-22 11:55] Nikotecnology commented on #92
no, i didn't explain that this is my code:
[code]
It closes the connection but i can't reopen it

[2020-12-22 12:00] Rapsssito commented on #92
@Nikotecnology, if you destroy the socket you must create a new socket to reopen the connection.

[2020-12-22 12:01] Nikotecnology commented on #92
there isn't a way to close and reopen it without destroyng it

[2020-12-22 12:03] Rapsssito commented on #92
@Nikotecnology, that is not how TCP connections work, it is a connection-oriented protocol. Take a look at the wikipedia article about [TCP](https://en.wikipedia.org/wiki/Transmission_Control_Protocol) for more info.

[2020-12-22 12:04] Nikotecnology commented on #92
ok thanks i will close the issue

[2020-12-22 12:04] #92 closed

[2020-12-23 15:39] mrdevil64 commented on #90
thanks bro!! solved  : )

[2020-12-23 15:40] #90 closed

[2020-12-30 02:39] ericleb010 opened #93 "Incorrect typing for socket.address()?"
## Description
Typing for TcpSocket.address() seems to be different from what the library returns at runtime.

## Steps to reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

Or code:
[code]

## Current behavior
Calling `TcpSocket.address()` returns an object that resembles: `{family: 'IPv4', port: 54014, address: '192.168.200.143'}`

[2020-12-30 21:30] Rapsssito commented on #93
@ericleb010, you are right! Thanks for the feedback, working on a fix.

[2021-01-05 21:37] mi-mazouz commented on #72
Same issue, adding error event does not provide more information...

[2021-01-05 21:38] mi-mazouz commented on #69
Same issue, adding error event does not provide more information...

[2021-01-07 13:55] Rapsssito commented on #69
@mi-mazouz, did you add the error listener to both sockets?

[2021-01-08 13:46] mrdevil64 commented on #69
######
this works fine for me..    ✌✌✌😃😃
######

startServer = () => {
    const server = TcpSocket.createServer(function(socket) {
      socket.on('data', function(data){
        socket.write("Client Connected");
      });
      socket.on('error', (error) => {
        console.log('error: ', error);
      });

      socket.on('close', () => {
        console.log('connection closed ', socket.addres

[2021-01-14 02:04] zhouyangCode commented on #86
@MFedour
I have seen this error because I used "react-native-tcp" before, the solution:
1. Uninstall it npm uninstall react-native-tcp --save
2. Execute gradlew clean in your android directory
3. Restart the project

[2021-01-14 02:11] zhouyangCode commented on #49
@Rapsssito Hi, I have the same error, everything works fine on the simulator, but when testing on the real machine, it crashed when sending a message, and the server received the message sent. please help me

[2021-01-15 00:56] #87 closed

[2021-01-15 07:29] n4beel opened #95 "Not able to receive response from server"
## Description
I am using this package to communicate with a server. When I am using `write()` to send data to a server. I am not getting response in the `data` event. Whereas, when I am using telnet to communicate from the server through terminal I am getting the response.

## Steps to reproduce
code:
[code]

## Current behavior
all events except data are working

## Expected behavior
I should ge

[2021-01-16 18:45] Rapsssito commented on #95
@n4beel, I see you are using telnet. `react-native-tcp-socket` only provides a TCP socket API, any other protocol built on top of TCP must be implemented by the user. Take a look at [telnet-client](https://www.npmjs.com/package/telnet-client) for NodeJS, you might be able to adapt it to work for React Native.

[2021-01-16 19:05] n4beel commented on #95
Thanks for the response, you saved my time as I would have kept on trying to connect using this package.

[2021-01-16 19:05] #95 closed

[2021-01-17 12:43] Rapsssito commented on #49
@Java-Anthony, could you please a new issue providing an error stack trace and a reproducible code?

[2021-01-22 10:06] #91 closed

[2021-01-22 21:23] n4beel commented on #95
@Rapsssito this library worked for me. I just needed to append CR + LF (\r\n) to the text I was sending and I got the response.

[2021-01-25 08:55] ewc003 commented on #53
@Rapsssito Hi, I am running into a similar issue. Here is a snippet of my code.
`function getTCPData() {
  return new Promise((resolve, reject) => {
    const tcpTimeout = setTimeout(() => {
      reject('Timeout');
    }, 1000);
    const socket = TcpSocket.createConnection(
      options,
      () => {
        clearTimeout(tcpTimeout);
        // Write on the socket
        socket.write('Ready f

[2021-01-25 22:36] Rapsssito commented on #53
@ewc003, could you create a new issue with your specific problem?

[2021-01-25 23:12] ewc003 opened #96 "Connection close is never emitted after opening/destroying 100 sockets"
## Description
I am calling a connect to TCP function with setInterval. After many calls of the connect function, the socket emits a null error and the socket.destroy() is not called.

Or code:
[code]

## Current behavior
Interval runs for a while (socket successfully gets data or gets invalid data), then randomly emits null error. Unable to connect to server unless app is restarted. Continues to

[2021-01-26 01:56] ewc003 commented on #96
@Rapsssito I've narrowed the problem down. Sorry I am fairly new to socket communication in general and would appreciate any advice. It looks like after I open the 100th socket, any following socket will throw a null error. Is there a better way to open/close sockets or handle many incoming messages? Thanks for your time!

[2021-01-26 06:09] ewc003 commented on #96
I also forgot to note that I call socket.destroy() after getting data from the server so there is only 1 active socket at a time.

[2021-01-27 15:22] Rapsssito commented on #96
@ewc003, could you provide the stack error trace?

[2021-01-27 17:27] ewc003 commented on #96
@Rapsssito If I understand stack error trace correctly, my application is not crashing/throwing unhandled errors. When attempting to connect to the socket, it throws an error which is null and the application continues to run.

[2021-01-27 17:30] Rapsssito commented on #96
@ewc003, could you copy the stack trace here?

[2021-01-27 21:20] ewc003 commented on #96
![tcptest 1](https://user-images.githubusercontent.com/20177023/106055607-717e4080-60a2-11eb-9f94-7bbe8befb257.jpg)
@Rapsssito Is this sufficient?

[2021-01-27 23:49] Rapsssito commented on #96
@ewc003, the error trace does not mention `react-native-tcp-socket`, are you sure the issue is related to this library? Could you narrow down the code causing this issue?

[2021-01-27 23:52] Rapsssito commented on #96
@ewc003, you shouldn't open a new socket each time you want to send a TCP request if the time interval is so low. You should refactor your code to reuse the same socket in `getTCPData()` instead of creating a new one.

[2021-01-27 23:54] ewc003 commented on #96
@Rapsssito Thanks! I will look into the bug deeper and see if I find more clues. I will close issue for now.

[2021-01-27 23:54] #96 closed

[2021-02-06 23:33] bobby-hewitt commented on #44
I’m trying to solve a similar thing. If I start a server on device X (192.168.0.1),  is there a way on device Y to connect to that server without device Y knowing the IP address of device X? Apologies if this is a stupid question.

[2021-02-10 10:32] Rapsssito commented on #44
@bobby-hewitt you should look into discovering protocol for LAN or something like that (they are usually based on UDP). I am sorry, but it is not related to this library.

[2021-02-25 16:01] jiangjiatao opened #97 "react-native-tcp-socket.podspec missing a ‘v’"
![41F05D62-385E-4B42-8ADB-DFB58A24292D](https://user-images.githubusercontent.com/18566483/109180352-bee6ee00-77c5-11eb-8f62-68ed3d04def4.png)

[2021-02-25 17:51] Rapsssito commented on #97
@jiangjiatao, you are right! I will fix it right now!

[2021-02-25 17:54] #97 closed

[2021-02-26 00:43] hengkx opened #98 "4.5.6 pod install"
[!] The `react-native-tcp-socket` pod failed to validate due to 1 error:
    - ERROR | attributes: Missing required attribute `homepage`.
    - WARN  | source: The version should be included in the Git tag.

[2021-02-26 09:02] #98 closed

[2021-02-26 11:27] #93 closed

[2021-02-26 18:37] ruanblima opened #99 "sending images"
## Description
How can I send an image?
I tried to send it as base64, but the data does not arrive complete on the server, is it necessary to do some configuration to allow the sending of a larger data?

[2021-02-26 20:05] Rapsssito commented on #99
@ruanblima, I am sorry, but if the image is too big, you might encounter problems. Check #78 for more info. In the meantime, you can create chunks out of your image and use the callback argument provided to `socket.write()` to space out the shipment.

[2021-03-03 00:26] ruanblima commented on #99
Thank you very much for the tip, I will look at this question that you asked. Would you have another lib to indicate that I could be sending a larger image? my image is about 200kb, and I need to send it via socket.

[2021-03-03 09:17] Rapsssito commented on #99
@ruanblima, I don't know any other library for larger images. I am working on a fix, as commented in #78 (using the `drain` event). Take a look at questions on StackOverflow about your problem using NodeJS net API, it should also work in this library.

[2021-03-03 11:13] ruanblima commented on #99
Okay, thank you very much for the feedback.

[2021-03-03 21:18] #99 closed

[2021-03-05 14:46] EoinFalconer opened #100 "Different functionality from node net package when using carriage return and line feed"
## Description
I am sending some ASCII messages over TCP/IP to a server. When testing with a normal node script and using the 'net' package in node.js I successfully get responses and everything works fine.

Then I go and start using it in my react native app and nothing is responding even though I am using it the same. The message is literally just a one liner as you can see below:

`client.write

[2021-03-05 15:07] #100 closed

[2021-03-06 07:13] imAunAbbas opened #102 "Unable to work on functional component"
## Description
I'm using React native's functional approach in my whole app and I'm trying to use `react-native-tcp-socket` in that components as well. But I'm facing different problems to handle the variables (I think so). Because there is no example available in the documentation that shows the use of the functional components.

## Code:

I'm using these variables outside of my main function:

[

[2021-03-06 10:17] Rapsssito commented on #102
@imAunAbbas, I am sorry for your problem. It looks like your are experiencing an issue with the variable scope while using React custom hooks. Sadly, I cannot help you with that since it is not related to this module, but I would suggest you asking this question on stackoverflow or checking the available [docs](https://reactjs.org/docs/hooks-custom.html).

As an overall comment, I would guess that

[2021-03-06 10:28] imAunAbbas commented on #102
@Rapsssito Glad, you responded. But all I'm asking is to update the documentation (whenever it is easy for you) and give an example using the functional component as well. Because this is confusing for those who prefer functional components over class components.

[2021-03-11 22:18] fabsi96 opened #103 "TypeError: null is not an object (evaluating 'Sockets.connect')"
## Description
After i installed the package like the readme, the socket always shows the error
TypeError: null is not an object (evaluating 'Sockets.connect')

## Steps to reproduce
I had an existing installation of Nodejs, npm, npx, expo and yarn of this year but i also updated all components to the newest version and on other platforms.
After installing Nodejs, npm and the expo-cli (as admin) a

[2021-03-12 11:58] Rapsssito commented on #103
@fabsi96, I am sorry about your issue. However, if you are using Expo, you must `eject` your project before using any module with native code. Here is the [documentation](https://docs.expo.io/workflow/using-libraries/#determining-third-party-library-compatibility).

[2021-03-14 02:01] fabsi96 commented on #103
@Rapsssito, Yes. I also thought that this is a problem and have tried it with the default way to create a project. After the project was created via 'rpx react-native init myapp' i have imported tpc-socket via yarn add react-native-tcp-socket and also checked all linkings. After that i tried to start the app on a phone but everywhere i ran into the same issue..

Is that normal?

[2021-03-14 09:54] Rapsssito commented on #103
@fabsi96, it does not look normal, but take into account that linking the package manually is not required anymore with [Autolinking](https://github.com/react-native-community/cli/blob/master/docs/autolinking.md).

However, make sure to clean your build folder from XCode if you are on iOS or run `./gradlew clean` if you are on Android after installing the package.

[2021-03-14 10:26] fabsi96 commented on #103
@Rapsssito Okay
Yes I did that but did not work..

[2021-03-14 20:54] Rapsssito commented on #103
@fabsi96, can you check if you can run the example code provided in the repository?

[2021-03-15 10:10] Rapsssito commented on #102
@imAunAbbas, I have updated the example code so the App component just listen to the socket events. The socket and server instantiations are outside any React component. I feel that this satisfies a greater number of software design patters and might be clearer for the user.

[2021-03-17 07:43] imAunAbbas commented on #102
Thanks for your help @Rapsssito by updating the library and giving the new example. At least my error `TypeError: undefined is not an object (evaluating 'client.write')` is gone because of the `server` and `client` initialization like this:

[code]

As it is now clear that the `server` and `client` are not `null` when the app is started.

#### New Issue

But I'm facing a different kind of issue no

[2021-03-18 09:20] Rapsssito commented on #102
@imAunAbbas, I do not know exactly, but it sounds like you might be calling the `listen()` method each time you enter a contact the screen. Take a look at the [server.listen() documentation](https://nodejs.org/api/net.html#net_server_listen).

[2021-03-26 11:16] itzsankar commented on #53
@Rapsssito  I'm facing similar issue, but not in all the devices only iOS 14 with iphone 7,8,XR , In iPhone 11 with iOS 14 working fine.

Issue is occurring at first time when you back and do the same step connection created successfully.

[2021-03-27 12:47] Rapsssito commented on #53
@itzsankar I am currently working on a fix.

[2021-04-05 03:55] Santhosh-kumark commented on #53
@Rapsssito Is there any update on this issue ?

[2021-04-06 16:14] Rapsssito commented on #53
@Santhosh-kumark, yes! I found the problem, but I am really busy at the moment. The fix might take a while.

[2021-04-10 10:07] Rapsssito commented on #53
@Santhosh-kumark @mi-mazouz, could you check if the issue still persists in the last version? I am testing on the iOS simulator without any timeout and **after 1 minutes and 15 seconds** I get an error in the error handler.

[2021-04-13 05:20] itzsankar commented on #53
@Rapsssito  Have you fixed this in the latest version?

[2021-04-13 06:12] Santhosh-kumark commented on #53
@Rapsssito Mine was similar issue to https://github.com/Rapsssito/react-native-tcp-socket/issues/53#issuecomment-808131790 . Seems like this is not fixed in new version as well.

[2021-04-13 12:39] Rapsssito commented on #53
@itzsankar @Santhosh-kumark, could you check if you get an error response **after 2 minutes**?

[2021-04-14 11:59] mi-mazouz commented on #53
I updated the package to the latest version and tested this code:

[code]

but no event was triggered even the error event

[2021-04-14 16:11] itzsankar commented on #53
@Rapsssito , my problem is only in iPhone version other than 11 ,iOS 14 I'm not getting any response for first time, if I quit the app and connect it again, it is connecting perfectly. But in iPhone 11 with iOS 14 it is connecting for the first time itself without any issues.
Lower iOS versions no problem.

[2021-04-15 09:57] mi-mazouz commented on #53
@Rapsssito I think timeout is not working well, with the following code timeout and createConnection callback are triggered:

[code]

if createConnection callback is triggered when the connection was successful timeout should not be triggered right?

[2021-04-15 10:35] mi-mazouz commented on #53
my bad this_.device.removeListener('timeout') in createConnection callback did the job!

[2021-04-15 13:03] fabsi96 commented on #103
Hey. I have solved the problem by creating a new, raw RN project, because i first initialized the project with expo and the eject process had not work properly.
I think that there was a problem with linking the packet into the project.
It is also nice to verify, that the specific packet is linked correctly. Thats a thing that I had to learn while solving this problem.

[2021-04-15 13:03] #103 closed

[2021-04-15 17:03] Rapsssito commented on #53
@mi-mazouz, I am glad it worked! If you agree, I think we can close this issue now. It has been a difficult problem to tackle.

@itzsankar, this issue has +30 comments right now. Could you please create a new issue with your problem, the devices with issues and a reproducible code?

[2021-04-19 06:22] itzsankar opened #106 "Connection Success or Error not emitted from iOS for the first time in iOS 14 and above"
HI,

I'm trying to create a tcp connection to host in iOS,
connection success or error not emitting in particular iOS versions with particular devices for the first time, but if trying to reconnect
it is connected successfully,

Below are the Devices which are not connecting

+--------+--------------+
| Device  | iOS version   |
+--------+--------------+
| XR        | 14 and above|
+--------+-----

[2021-04-19 06:24] itzsankar commented on #53
@Rapsssito sure,  I have created a new issue #106 we can track from there , let me know if you need any details

[2021-04-19 08:07] #53 closed

[2021-04-19 08:11] Rapsssito commented on #106
@itzsankar, does this issue also occur with simulated devices?

[2021-04-22 21:02] Osric38 commented on #103
I got same problem just after installing the package

[2021-04-25 10:39] fabsi96 commented on #103
@Osric38 Try out to verify each installation process in detail. Its a bit difficult - i know - but after a couple times you should get that example project working.
Verify that:
Your are NOT using expo in your first example project
- use "npx create-react-native-app <app-name>" instead
Install the package savely
- npm install react-native-tcp-socket --save

These were my issues i had to cope with

[2021-04-28 04:57] itzsankar commented on #106
@Rapsssito
no not possible through simulator, need real device to check

[2021-04-29 00:09] #102 closed

[2021-04-29 17:54] Rapsssito commented on #106
@itzsankar, I am afraid I do not own any of those devices. Can you reproduce the issue with the simulator?

[2021-04-29 18:05] itzsankar commented on #106
@Rapsssito , I have tried but wifi option is not enabling in simulator, do you know how to do it in simulator?

[2021-04-29 19:07] Rapsssito commented on #106
@itzsankar, this library is about TCP, not WiFi. If your computer is connected to the network, your simulated device is also connected.

[2021-05-06 11:57] itzsankar commented on #106
@Rapsssito  , I'm able to reproduce it in simulator. I'm getting error response after Some time I'm getting error. But no success response .

[2021-05-07 19:29] gforien commented on #103
I ran into the same issue. Thanks for the explanation 👍

[2021-05-07 21:24] Rapsssito commented on #106
@itzsankar, could you provide the code you are using so I can reproduce the issue on my end?

[2021-05-08 01:18] itzsankar commented on #106
This is the code I used to reproduce.
import React from 'react';
import {
    StyleSheet,
    Text,
    View,
} from 'react-native';
import TcpSocket from 'react-native-tcp-socket';

class App extends React.Component {
    constructor(props) {
        super(props);

        this.updateChatter = this.updateChatter.bind(this);
        this.state = { chatter: ['hello'] };
    }

    updateChatter(msg

[2021-05-08 08:32] Rapsssito commented on #106
@itzsankar, what device simulator are you using and what is the problem and the expected output?

[2021-05-08 09:10] itzsankar commented on #106
Simulator - Iphone 8 - iOS 14.1
client = TcpSocket.createConnection({
            port: serverPort,
            host: serverHost,
        }, (address) => {
            this.updateChatter(`opened client on ${JSON.stringify(address)}`);
            client.write('Hello, server! Love, Client.');
        });

i'm not getting any callbacks while creating connection, after 2 minutes i'm getting error.

[2021-05-09 21:10] Rapsssito commented on #106
@itzsankar, it looks like your server might not be receiving your TCP request. Have you tested it from nodeJS for example?

[2021-05-23 07:00] pouyagholami opened #107 "connection closed"
after run the below code , immediately encounter this error "connection error"

  const client = TcpSocket.createConnection(
      {
        port: 502,
        host: '192.168.1.190',
        reuseAddress: true,
        // timeout: 500,
      },
      address => {
        console.log('sent', data);
        client.write(data);
      },
    );

    client.on('data', data => {
      console.log('data

[2021-05-24 11:24] ksetrin opened #108 "Error: Binding socket to network 103 failed: EPERM (Operation not permitted)"
## Description
Error:  `Binding socket to network 103 failed: EPERM (Operation not permitted)`

## Steps to reproduce
Steps to reproduce the behavior:
1. Try to connect
[code]

## Current behavior
I'm trying to connect to socket but I'm catching the error
It happens only when I try on device, with emulator it works fine

## Relevant information
OS: android
react-native: 0.63.4
react-native-tcp-soc

[2021-05-24 14:10] Rapsssito commented on #108
@ksetrin, what Android device are you using?

[2021-05-24 15:36] ksetrin commented on #108
Redmi 4
MIUI Global 9.5
Android 6.0.1 MMB29M

[2021-05-26 22:17] Rapsssito commented on #108
@ksetrin, are you using a port under `1024`?

[2021-05-27 11:09] itzsankar commented on #106
@Rapsssito , after long research I reproduced the bug, for reproducing the bug you need a server running in a different machine in the same network. you will receive the apple local netowrk permission popup first time and it will not connect, 2nd time you will not receive pop up and it will connect to the server.

[2021-05-28 07:11] ksetrin commented on #108
yes, I use 8080

[2021-05-28 08:43] Rapsssito commented on #108
@ksetrin, check if that port is not already been used by other service.

[2021-05-29 09:32] dlguswo333 opened #110 "remoteAddress returns host name, not IP address."
## Description
According to the name and Node.js net module [description](https://nodejs.org/docs/latest-v14.x/api/net.html#net_socket_remoteaddress),
`remoteAddress` should return the IP address of the remote,
but it returns host name of the machine at least in *android*.

## Steps to reproduce
Steps to reproduce the behavior:
1. Connect to any remote machine.
2. Get the remote address with `sock

[2021-05-29 09:40] Rapsssito commented on #110
@dlguswo333, thanks for the feedback! You are correct, this is a bug.

[2021-05-31 22:31] traviswsims commented on #108
I have the same problem, however removing the `interface: 'wifi'` option seems to to "fix" it.

[2021-06-04 16:44] Rapsssito commented on #108
@traviswsims, it might be related to another process using port 8080 in the WiFi interface.

[2021-06-07 17:37] savitaraghuvanshi opened #112 "Is this library compatible cross platform( ios->android and android->ios) ?"
Hi @Rapsssito ,
I am a Java developer new to mobile technologies . I have been researching the below requirement for quite a long time using react native . Please can you guide me if your library can support it or not ?

"My goal is to transfer messages between 2 mobile devices(cross platform) in offline mode " .I tried some Bluetooth react native libraries. They are ok android to android and ios

[2021-06-09 23:00] Rapsssito commented on #112
@savitaraghuvanshi, this library just provides a TCP interface from JS to the native code. Since TCP is cross-platform, this library is also cross-platform.

[2021-06-09 23:39] Rapsssito commented on #110
Fixed!

[2021-06-09 23:39] #110 closed

[2021-06-16 07:12] arturmusin opened #113 "Error: Requiring module "node_modules/react-native-tcp-socket/src/index.js"
Hi, I've been struggling with this issue over a week. I create empty react-native application for MacOS and install "react-native-tcp-socket" package.
When I try to use this library in my project I get
"Error: Requiring module "node_modules/react-native-tcp-socket/src/index.js", which threw an exception:
Invariant Violation: Native module cannot be null."

Could anyone please help me with that? I'

[2021-06-16 13:07] savitaraghuvanshi commented on #112
Thanks for your reply .

[2021-06-18 10:14] #112 closed

[2021-06-26 11:25] Rapsssito commented on #106
@itzsankar, sorry for my late reply. I will test this ASAP.

[2021-06-26 11:32] Rapsssito commented on #113
@arturmusin, are you using expo?

[2021-06-26 11:33] Rapsssito commented on #107
@pouyagholami, I am sorry, but this does not look an error with this library rather with your setup or network.

[2021-06-27 12:48] theteladras commented on #113
@Rapsssito I have experienced the same described issue that @arturmusin is having, on an expo ejected project.

[2021-06-27 22:04] acb opened #114 "Error sending large messages from Android host"
## Description
_Sometimes_ when I try to write a large message over the socket (on Android) the server closes the socket without actually writing any data.

## Steps to reproduce
My setup is pretty simple, I'm basically just running the TCP server and clients can attempt to connect to it.  When they send the server a connection message it responds by sending a big chunk of json encoded data back.

[2021-06-30 05:12] hongsa commented on #106
@Rapsssito
I also found the same symptoms. Can't you control when the permission popup appears?

[2021-06-30 11:36] Rapsssito commented on #114
@acb, your issue might be related on how `react-native-tcp` and `react-native-tcp-socket` handle concurrency. `react-native-tcp-socket` works more like NodeJS with multiple threads running in the native code to improve performance. However, this might be a bug. Could you try changing your server code to this:
[code]

[2021-07-04 04:36] nishmeht7 commented on #88
@Rapsssito what is your idea to fix this? I might be able to help if you can provide some direction

[2021-07-05 17:23] Rapsssito commented on #113
It might be an issue with expo new ejected project. Have you tested with the cache cleared? What RN version are you using?

[2021-07-05 17:38] Rapsssito commented on #88
@nishmeht7, take a look at the following code from [react-native-tcp](https://github.com/aprock/react-native-tcp/blob/master/android/src/main/java/com/peel/react/TcpSockets.java#L62-L78):

[code]

My idea was to investigate about this method, which might do what we intend. However, I have low expectations and this is not a high priority issue: there is not a clear behavior for the TCP sockets expe

[2021-07-07 14:45] happymaskterriblefate opened #116 "Question: best way to find an open port?"
Hi there -- thank you for your great TCP library! I was wondering if you have advice on how to find an open port for listening on the device?

I may be a bit paranoid, but I'm worried that I'm going to ship my app and then my port choice will collide with another app on a user's device. My entire app will cease to function if the local tcp doesn't start up. Is this something that I should be worri

[2021-07-08 11:40] Rapsssito commented on #116
@happymaskterriblefate, you should always use ports above 1024. However, before using those ports above 1024 it is highly recommended to inform yourself about that port, I simple Google search should be enough.

[2021-07-12 01:02] acb commented on #114
@Rapsssito sorry for the slow response, I swear that I had checked this issue in the past 12 days and there wasn't a reply yet, but I guess I just missed it.  I tried your change and it seems to work, so thank you!  Not a bug, just a difference in the two libraries.

[2021-07-12 01:02] #114 closed

[2021-07-15 00:33] #108 closed

[2021-07-25 06:26] wingliu0 opened #117 "Question: How to detect an closed port?"
Hi thank you for building this great library!
I'm using the Socket.js to connect and send data to external devices which will listen to a specific address and port

Would like to suggest an error callback/event for cases that the remote address:port is not accessible
I'm currently using the `timeout` param in connect(), It would be great if this error can be thrown from native code to js
https://g

[2021-07-27 07:18] Lawjune commented on #113
Hi @Rapsssito,

I restarted the `expo` project and this issue resolved. But the `expo `threw an exception of **Native module cannot be null**. Is there any solution to make `react-native-tcp-socket` in an `expo` project?

[code]
Thank you so much in advanced!

[2021-07-27 22:06] Rapsssito commented on #117
@wingliu0, thanks for the feedback! However, TCP does not provide a low level way to determine why the connection could not be established. There is no difference for TCP if the address is disconnected or the port is not open. I am sorry for this.

[2021-07-27 22:06] #117 closed

[2021-07-27 22:08] Rapsssito commented on #113
@Lawjune, I am not familiar with expo, but as far as I know you cannot run any module with native code without "ejecting" your project first. Maybe someone with more experience with expo can help you.

[2021-07-29 04:22] kildip commented on #106
@Rapsssito  @itzsankar ,
i am also facing this issue after long research I reproduced the bug, for reproducing the bug you need a server running in a different machine in the same network. you will receive the apple local network permission popup first time and it will not connect, 2nd time you will not receive pop up and it will connect to the server.
when a getting IOS 14.1+ local network permis

[2021-07-29 06:59] Lawjune commented on #113
@Rapsssito, thank you so much all the same. It's an `expo` issue existing for years since https://expo.canny.io/feature-requests/p/support-raw-tcp-sockets. Eventually I use the RN CLI to make it work. Thanks again!

[2021-08-03 09:56] #113 closed

[2021-08-06 08:50] Antakarana opened #118 "ascii data not being sent via write method"
## Description
ascii data not being sent via write method.

## My code:
        const client = TcpSocket.createConnection(options, () => {
            client.write([56, 48, 48, 53, 48, 53], 'ascii', (error) => console.log('error', error));

            client.destroy();
        });
        client.on('data', function (data) {
            console.log('message was received', JSON.stringify(data));

[2021-08-08 00:34] #107 closed

[2021-08-10 21:54] Rapsssito commented on #118
@Antakarana, I am sorry for your issue. Have you tested your code using [Node's net API](https://nodejs.org/api/net.html)?

[2021-08-10 22:05] Antakarana commented on #118
I am sorry too, there is no any error about this. The ascii data should have been sent with \n for our server.
Thank you.

[2021-08-10 22:05] #118 closed

[2021-08-15 00:34] #116 closed

[2021-08-16 07:43] ElchinIsmayilov opened #119 "Crashing main thread if both server and socket created iOS"
## Description
it seems that main thread is getting all the workload on ios and when data received on server and trying to connect to socket at the same time, it crashes the app. For our app, we need to create server on specific port and listen for any data it may receive and in same time be able to connect to socket if nessasary. I know that probably most of the users of this library is not using

[2021-08-16 14:51] acb opened #120 "java.lang.IllegalArgumentException TcpSocketsNo socket with id [X]"
## Description
I've been getting some automated crash reports delivered to me with this error along with general user reports of frequent network interruptions.  The full stack trace is

[code]

## Steps to reproduce
I haven't been able to reproduce this myself, unfortunately.  I don't do anything very special in my setup though, I just run a TCP server and then open up connections to it.  The con

[2021-08-16 17:50] sudray opened #121 "Host not reachable error handling"
## Description
Hi I have been evaluating your module as an update for some older react-tcp code and it performs well.
Great job and good work in keeping the calls similar to the Node "net"module. Makes for easy use and implementation.

I am an embedded programmer and have decent knowledge of embedded tcp/ip sockets in the micro-controller domain.

My react native app creates multiple tcp clients,

[2021-08-16 19:25] Rapsssito commented on #119
@ElchinIsmayilov I am sorry for your issue. However, I do not understand how to reproduce your problem. The example code provides a server and a client created by the same host and works correctly. Could you please provide a reproducible code?

[2021-08-17 06:48] ElchinIsmayilov commented on #119
`async findLocters() {
        const ip = ("192.168.1.153").split(".");
        const baseIp = ip.slice(0, 3).join(".");
        const endings = range(256);
        endings.splice(parseInt(ip[3]), 1); // remove self ip

        const locters = [];
	// Checking all the ips except its own.
        for (const [index, el] of endings.entries()) {
            const connection = await tryToConnect(`${bas

[2021-08-17 08:29] Adnan48 commented on #120
I am facing this error when I am trying to connect to 30+ devices, if some devices are not connected it gives error and tries to close the socket.this is where the app crashes and I get the error.

[2021-08-17 11:47] ElchinIsmayilov commented on #119
<img width="1180" alt="Screen Shot 2021-08-17 at 15 34 50" src="https://user-images.githubusercontent.com/14870233/129720269-af55521b-8cc7-4d1d-82e1-1e1124f4c02f.png">
<img width="1177" alt="Screen Shot 2021-08-17 at 15 38 06" src="https://user-images.githubusercontent.com/14870233/129720283-8d7eeabe-aa01-4bda-9769-f203c2cb2157.png">
<img width="1175" alt="Screen Shot 2021-08-17 at 15 37 46" src="

[2021-08-19 21:07] Rapsssito commented on #119
@ElchinIsmayilov, could you provide a minimal reproducible code so I can narrow down the issue?

[2021-08-19 21:53] angel-venchev-toptal commented on #36
@dpankros I don't think there's a version 4.1.0 what really fixed it for you?

[2021-08-23 12:46] Rapsssito commented on #120
@acb @Adnan48, I am sorry for your issue, but I need a minimal reproducible example code so I can work on a fix. could you provide one?

[2021-08-23 12:49] Rapsssito commented on #121
@sudray, I am sorry for your issue. Could you provide a minimal reproducible example code so I can test it in my local setup?

[2021-08-24 17:38] nphau commented on #61
Totally agree with you. I have a command line will be remove after Pod install:

`rm -rf Pods/Target Support Files/TcpSockets/CocoaAsyncSocket`

[2021-08-24 17:44] nphau commented on #91
Here is fine
https://github.com/Rapsssito/react-native-tcp-socket/issues/61#issuecomment-653881488

[2021-08-28 19:58] MrYslcck opened #122 "TypeError: null is not an object (evaluating 'Sockets.connect')"
`I` am using expo cli and trying to connect to c# tcp server I get error, So far I have reset the node_modules folder, opened new projects but it has not improved.

My Code

[code]

Error

[code]

[2021-08-29 09:02] Rapsssito commented on #122
@MrYslcck, I am sorry for your issue. Since you are using expo, you may want to take a look at this issue #103.

[2021-08-29 09:02] #122 closed

[2021-08-31 13:26] esnunes opened #123 "Support to react-native windows"
Although Windows is a non-first-class citizen on react-native ecosystem, do you have plans to add support to it?

In case you don't, is there any concerns or red flags regarding adding support to it? Would you accept a PR adding support to it (considering that it follows the repository's standards)?

Thanks!

[2021-09-05 07:46] Pix-00 opened #124 "Failed to build with Gradle 7"
## Description
Failed to build app with `react-native-tcp-socket` using Gradle 7 and corresponding Gradle Plugin.

## Steps to reproduce
Steps to reproduce the behavior:
1. Create a new react native project
2. Changing the version of Gradle Wrapper to 7.0.2 with
3. Scroll down to '....'
4. See error

Or code:
[code]

## Current behavior
Unable to build the app.

## Expected behavior
Able to build

[2021-09-08 10:34] Reuben-BeaconTech commented on #124
I have the same issue here.  Any idea of a fix/workaround?  I have an app update to release but this is blocking the build.

[2021-09-08 11:24] Pix-00 commented on #124
I think we have to wait the author to update the `build.gradle` file.
Something like replace maven with maven-publish, rewrite tasks, and update the version of gradle plugin version.

[2021-09-08 14:38] Rapsssito commented on #124
@Pix-00 and @Reuben-BeaconTech, I am working on it. I will release a fix ASAP.

[2021-09-08 14:39] Pix-00 commented on #124
Tanks very much.

[2021-09-08 15:04] Rapsssito commented on #124
@Pix-00, could you test if changing the `gradle.build` file in `node_modules/react-native-tcp-socket/android` to the following fixes your issue:
[code]

[2021-09-08 15:24] Pix-00 commented on #124
@Rapsssito Yes, it works.
Thanks a lot ヾ(≧▽≦*)o.

[2021-09-10 08:18] ShikharY10 opened #125 "undefine is not a object (evaluating '_reactNative.TcpSocket.createConnection')"
I'm getting this error when I try to use this module with react native on android

Or code:
[code]
I'm new to react native and that's why I'm  not able to understanding the problem clearly, need help..

## Relevant information
|             |     |
| ----------- | --- |
| OS | android 6   |
| react-native | 0.63.2   |
| react-native-tcp-socket  | ^5.3.0   |

[2021-09-10 11:35] #125 closed

[2021-09-13 16:27] #124 closed

[2021-09-22 19:57] Mohamed-kassim commented on #121
please clear me if I am wrong this happens on android
I am connecting the client and using the keepalive boolean to be true
`const socketClient = TcpSocket.createConnection(
    {
      port: portNumber,
      host: ipAddress,
      timeout: 3000,
    },
    onClientConnected,
  );
  socketClient.setKeepAlive(true, 2000);`
--------------

if I closed the server app any time, immediately the client

[2021-09-27 13:44] Mohamed-kassim commented on #121
@Rapsssito Any Information?

[2021-09-29 00:35] #119 closed

[2021-09-29 15:59] whitetiger1002 commented on #43
I got this issue on my side. I tried to run 'gradlew clean', but it's same.
Could anyone help me?

[2021-09-29 16:21] Rapsssito commented on #43
@whitetiger1002, could you open a new issue with the error stack trace so I can take a deeper look at your problem?

[2021-10-05 12:16] Overtorment opened #127 "[ios] [5.3.1] rare crash when going from background to foreground"
## Description
I once experienced a crash when my app was in the background for a while, and I opened so it tried to go to foreground.
I immediately looked up our crash report on bugsnag:

[code]

## Steps to reproduce

Steps to reproduce the behavior:
1. keep the app in the background for a while
2. open the app
3.  small chance of an immediate crash

**Screenshots**
If applicable, add screenshot

[2021-10-05 12:17] Overtorment commented on #127
screenshots from bugsnag:

![image](https://user-images.githubusercontent.com/1913337/136020638-41f2856b-200c-43ae-97f4-b7271f188363.png)
![image](https://user-images.githubusercontent.com/1913337/136020667-3dde2d4a-a090-4bc5-8aa7-0388400fb9b7.png)

[2021-10-05 12:18] Overtorment commented on #127
![image](https://user-images.githubusercontent.com/1913337/136020850-9d2396a0-985a-43ae-a48b-e60a8d93cb7b.png)

[2021-10-05 12:26] Rapsssito commented on #127
@Overtorment, thanks for the feedback! iOS has a very special way of dealing with sockets when an app is in the background, which may be the root cause of this issue. A temporary workaround would be to close all sockets when the app is going to the background. I will take a look at your error trace and improve the module error handling for this kind of situations.

I will close this issue as soon

[2021-10-05 12:28] Rapsssito commented on #121
@Mohamed-kassim, I am working on handling the same errors on iOS and Android. I will close this issue as soon as this is fixed!

[2021-10-06 00:19] akinncar commented on #61
This solution did the trick for me but,
Is it possible to solve this problem in the library instead use this temporary fix?
I can try to help if you guys have any idea how to solve it.

[2021-10-06 23:08] enverbisevac commented on #123
It would be nice to support windows and mac :)

[2021-10-08 12:51] Rapsssito commented on #123
@enverbisevac, there is already support for mac!

[2021-10-09 13:18] enverbisevac commented on #123
I opened a ticket - [react-native-windows](https://github.com/microsoft/react-native-windows/issues/8803)

[2021-10-11 06:22] whitetiger1002 opened #129 "Execution failed for task ':react-native-tcp:compileDebugJavaWithJavac'"
When I build the react-native project for the android debug app, I got this error.

Please let me know how to fix this error, so I can build the app successfully.

[2021-10-11 07:25] #129 closed

[2021-10-13 21:13] Overtorment commented on #127
yes, connection is https.
as for background, network module is not aware of such thing. i.e. state change is not handled in any way (at least not in the networking module)

[2021-11-03 10:26] Kshitijshetty opened #134 "java.net.SocketException: Socket is not connected"
I'm trying to connect react native client to node server but its not working.

Client Code:
[code]

Server Code:
[code]

## Current behavior
It is logging: java.net.SocketException: Socket is not connected

and error is this.

![image](https://user-images.githubusercontent.com/41435065/140044008-0d5bb289-dddc-4eab-bfca-281773c86738.png)

## Relevant information
|             |     |
| -----------

[2021-11-04 22:34] Rapsssito commented on #134
@Kshitijshetty, take into account that the socket creation is asynchronous. In your example:

[code]

[2021-11-04 22:34] #134 closed

[2021-11-22 00:37] #123 closed

[2021-12-19 19:00] Klairm opened #135 "TypeError: undefined is not an object (evaluating '_reactNativeTcpSocket.TcpSocket.createConnection')"
## Description
When creating a connection I'm getting the error `TypeError: undefined is not an object (evaluating '_reactNativeTcpSocket.TcpSocket.createConnection')` and I'm not sure how to debug this properly to see where's the error originated

Or code:
[code]

## Relevant information
|             |     |
| ----------- | --- |
| OS | Developing for Android using Linux   |
| react-native |reac

[2021-12-20 10:43] Klairm commented on #135
So if anyone comes here, first of all I tried to "import" using

`    const net = require('react-native-tcp-socket');`

And that gave another error

    `TypeError: null is not an object (evaluating 'Sockets.connect')`

So after someone suggested to me on Reddit, I had to eject the code with `expo eject` then rebuild the app using `expo run:android` and that worked!

So if anyone's struggling with

[2021-12-20 10:43] #135 closed

[2022-01-08 22:29] aguycalled opened #136 "Cannot use import statement outside a module"
## Description
Can't require the module from `metro.config.js` to resolve `net`, as it is needed by a third party library.

## Steps to reproduce
Project created with `npx react-native init`.

Contents of `metro.config.js`:

[code]

## Current behavior
Error:

[code]

## Expected behavior
Module should be loaded

**Screenshots**
If applicable, add screenshots to help explain your problem.

## Rele

[2022-01-20 10:06] Rapsssito commented on #136
@aguycalled, I am sorry for your issue. However, I do not understand your problem. If you want to resolve `react-native-tcp-socket` as `net`, you should add the configuration to your `package.json` file. Take a look at the docs about overriding `net` [here](https://github.com/Rapsssito/react-native-tcp-socket#overriding-net).

[2022-01-29 22:50] pablozandona opened #137 "iOS info tcp_connection_is_cellular No connected path"
## Description
I need to establish a connection to a device with an STM microcontroller. On android it works fine with the same code.

The socket was created, as shown in the `createConnection` callback, but on iOS it doesn't send data, and it doesn't trigger an error in `on('error'`.

## Steps to reproduce

Or code:
[code]

## Current behavior
These messages are shown in the Xcode log:

[code]

#

[2022-01-31 10:06] piyush2cloud commented on #38
@Overtorment @Rapsssito

Can u please help me in this. I am trying to create Android TV Remote for IOS.

Like I wan to mimic node(tls.connect) using react native. 

I need to implement a tls connection with Android TV from IOS device to send Remote Commands.

When I send below from IOS device with tls true it throws error 
operation couldn’t be completed. (kcfstreamerrordomainssl error -9807.)

`c

[2022-01-31 12:22] Rapsssito commented on #38
@piyush2cloud, if you have a problem, you should create a new issue. However, you could check nodeJS examples or seek help in stackoverflow for this kind of questions.

[2022-01-31 14:47] piyush2cloud opened #138 "When TLS True than error coming - kCFStreamErrorDomainSSL error -9807"
When trying to make a tls connnection from IOS to Android TV than below error comes.

`**operation couldn’t be completed. (kcfstreamerrordomainssl error -9807.)**`

I am sending tls:true in createConnection

const client = TcpSocket.createConnection({
    port: 6467,
    host: "Android TV I.P",
    tls: true
});

When tls is false it makes connection but i want to make a tls connection. Please hel

[2022-02-04 00:29] techie-gabbar opened #139 "Android CertPathValidatorException when sending TLS True"
[code]

When sending above thing in Android. Than Below Error is coming. Can u please help. The public-cert.pem is in my root react native project.

ERROR:
"**java.security.cert.CertPathValidatorException**: Trust anchor for certification path not found."

@Rapsssito @joshuamiller @eddieAnthem Please Help

[2022-02-04 11:33] Rapsssito commented on #139
@techie-gabbar, make sure you follow the docs and [add the file to the metro.config.js file](https://github.com/Rapsssito/react-native-tcp-socket#self-signed-ssl-only-available-for-react-native--060).

[2022-02-04 11:41] techie-gabbar commented on #139
@Rapsssito I followed the docs and this below is mine metro.config.js file

[code]
@Rapsssito Is there anything wrong i am doing. Can u help m what i am doing wrong.

[code]

[2022-02-07 12:46] techie-gabbar commented on #139
@Rapsssito Can u please help in above. It would be great help.

[2022-02-09 19:47] Rapsssito commented on #139
@techie-gabbar could you post the full error stack trace?

[2022-02-21 17:47] a613 opened #140 "Connect to HTTP / telnet server"
## Description

Client does not work.

## Steps to reproduce

`npx react-native init fresh --template react-native-template-typescript`

`yarn add react-native-tcp-socket`

Add this to `index.js`:

[code]

Run the app, see the warning and no logging of any inbound message from the server.

[code]

## Current behavior

Upon init, the client logs a warning and does not communicate with the server.

[2022-02-22 09:01] Rapsssito commented on #138
@piyush2cloud, may your issue be related to #138?

[2022-02-22 09:08] Rapsssito commented on #140
@a613, could you test if the [example code](https://github.com/Rapsssito/react-native-tcp-socket/tree/master/examples/tcpsockets) works for your setup?

[2022-02-22 15:34] a613 commented on #140
Yes but it does not work if I change it to talk to a real server like google or my API server. Then it immediately fails with `socketDidDisconnect with nil clientDelegate for 0`.

[2022-02-22 21:30] Rapsssito commented on #140
@a613, you might want to take a look at #95. However, to sum up, it is an issue on your side: you must append CR + LF (\r\n) to the message you are sending.

[2022-02-22 21:30] #140 closed

[2022-02-22 21:40] Rapsssito commented on #137
@pablozandona, is the `write()` callback being called?

[2022-02-24 03:45] pablozandona commented on #137
It wasn't responding because it was sending the wrong byte packet. Sorry for the report.

[2022-02-24 03:45] #137 closed

[2022-03-01 00:54] #136 closed

[2022-03-07 11:17] Florent75 opened #141 "duplicate symbols for architecture x86_64"
## Description
Module preventing to compile project due to an error
"duplicate symbols for architecture x86_64"

## Steps to reproduce
1 - npm install --save react-native-tcp-socket
2 - Pod install
3 - clean Build Project
4 - Delete Derived data
5 - Launch Compilation

## Current behavior
...
duplicate symbol '_OBJC_IVAR_$_GCDAsyncUdpSocket.cachedLocalPort4' in:
    /Users/florent/Library/Develope

[2022-03-11 13:03] im-aayan opened #142 "Help needed- Implementing react-native-tcp-socket in device , how to client in browser?"
I have built a socket connection (server) in the react-native app using react-native-tcp-socket, so I want to establish the connection with the server using the client in the browser which library I should use in the browser as a client?

[2022-03-12 09:49] Rapsssito commented on #142
@handsome-me, for questions like this, you can search in sites like stackoverflow for similar questions using NodeJS net API. This library mimics almost completely NodeJS API.

[2022-03-12 09:52] Rapsssito commented on #141
@Florent75, this might be more an issue with "react-native-thermal-receipt-printer" if they are adding the pods directly to their codebase instead of calling them as a dependency.

[2022-03-13 15:05] rockneverdies55 opened #143 "synchronously connecting to multiple devices"
I need to send the same data blob to multiple devices in the local network.

[code]

After the first target device receives the data, app completely exits suddenly. Is there anything suspicious in my code that catches your attention immediately that could be improved? I'm very new to sockets idea and just can't figure out the culprit in this case.

[2022-03-13 22:11] rockneverdies55 commented on #143
Started to call `client.destroy()` within the callback of `client.write()` and that seems to fix the issue.

[code]

[2022-03-13 22:11] #143 closed

[2022-03-14 14:41] rkeiii opened #144 "[iOS] server.close() callback never fires"
## Description
When providing a callback function to server.close() it works as expected on Android but on iOS (iOS Simulator iPhone 13 iOS 15.2) the callback never fires. Despite this when I check the socket is successfully unbound and the server is shutdown.

## Steps to reproduce
The console.debug() statement below is never executed.
[code]

## Current behavior
The TCP server shutdown is succes

[2022-03-17 16:36] dalabarge opened #145 "Getting TCP Client Receives a Non-Integer"
## Getting TCP Client Receives a Non-Integer

I'm getting a significant in uptick of ANRs  relating to `getTcpClient(cid)` where `cid` is not an integer:

[code]

## Current behavior
It appears that the `cid` passed to `getTcpClient()` in `TcpSocketModule.java` when calling `end()` is not an integer. The JS side internally manages the `_id` and therefore at some point the `_id` is a non-integer tr

[2022-03-22 18:18] Rapsssito commented on #145
@dalabarge, could you provide a reproducible code? I am having issues reproducing your problem.

[2022-03-22 18:19] Rapsssito commented on #144
@rkeiii, could you provide a reproducible example so I can test it both in Android and iOS?

[2022-03-22 20:07] dalabarge commented on #145
Not able to produce a repeatable trace. I _believe_ it's caused by a Java exception because the internally tracked `_id` which is passed from the JS wrapper to the Java side as the `cid` has been unset. I _believe_ this is because at some point in my code I'm calling `socket.end()` or `.destroy()` and it must be getting called twice through an async race condition. If the JS wrapper were to catch

[2022-03-22 21:24] Rapsssito commented on #145
@dalabarge, I think it could be caused by calling `end()` on a not yet connected socket. Could this be the case?

[2022-03-23 14:53] dalabarge commented on #145
My psuedo-code flow without all the app specific stuff is:

[code]

[2022-03-27 19:53] sergeu90 opened #146 "Attempt to invoke virtual method 'java.io.OutputStream' java.net.Socket.getOutputStream on a null object reference."
## Description
When I click for the first time everything is fine. Sometimes I click a second time and it's also good, but there is such a random error
## Steps to reproduce
Steps to reproduce the behavior:

[code]

## Current behavior
I have print btn.
Attempt to invoke virtual method 'java.io.OutputStream' java.net.Socket.getOutputStream on a null object reference.

## Expected behavior
Code to

[2022-03-28 20:06] Rapsssito commented on #146
@sergeu90, you must take into account that `socket.write()` is asynchronous, so, in your code, `socket.destroy()` might be called first. This will destroy the socket and then try to write to it. That's why you get that error.

A workaround would be to use the callback provided by `socket.write()` to make sure you destroy the socket after writing.

[2022-03-28 20:08] Rapsssito commented on #145
@dalabarge, you are right, `socket.destroy()` and `socket.end()` are not idempotent. I must check NodeJS' net API to make sure theirs are and change ours `socket.destroy()` and `socket.end()` accordingly. This might fix your issue.

[2022-03-28 20:26] sergeu90 commented on #146
@Rapsssito  Thanks a lot for helping. It is working.

[code]

[2022-03-28 21:07] #146 closed

[2022-03-28 21:07] Rapsssito commented on #146
Glad it worked! I will close the issue now.

[2022-04-03 16:31] Aensdottir opened #147 "Weird buffer size limit-like behavior"
## Description
Trouble with sending a long base64 string, usually gets limited to 2072 characters (bytes) but occasionally also sends 3108 or 1036 characters, the full string is over 10 thousand characters. The server is written in C# but the issue cannot be caused by that as i have tried everything server-side i could, buffer size is not a limitation on the server.

Only thing i can think of is a

[2022-04-04 20:48] Rapsssito commented on #147
@Aensdottir, have you tested your implementation with a NodeJS script? This library's behavior should match Node's net API. If they do not match, please, provide a minimal reproducible code so I can run it in both React Native and NodeJS in order to match the expected behavior.

[2022-04-05 15:20] Aensdottir commented on #147
@Rapsssito
I have created a quick NodeJS script running very similar code to my React Native application and it worked flawlessly. The string i'm sending (an image in b64) is long over 5 million characters.

### NodeJS Client code - Working
[code]

### React Native Implementation
[code]

[2022-04-05 19:26] Rapsssito commented on #147
@Aensdottir, thanks a lot. I will try to match the behavior ASAP. In the meantime, a workaround could be sending the data in smaller slices.

[2022-04-08 00:55] #139 closed

[2022-04-08 00:55] #138 closed

[2022-04-08 22:28] Mohamed-kassim opened #148 "❓Recommended way for storing socket instance globally?"
Any recommended way of storing socket instance after creating
for now I am storing it in global scope
[code]
And the same for the server instance
so initiating the server in useEffect in the required part of the app and store instance in global then reusing it across the full app.
it's known that it's not recommended to save values in global, also bad for typescript in react native
so any other re

[2022-04-18 11:48] Rapsssito commented on #148
@Mohamed-kassim, I am sorry, but this kinds of questions should be asked on stackoverflow. I will be closing this issue.

[2022-04-18 11:48] #148 closed

[2022-04-18 12:20] Rapsssito commented on #147
@Aensdottir, I have been testing your code in a both NodeJS server/client config and the buffer size limitation is still present. However, NodeJS implementation has a larger buffer and has a more direct connection with the OS so, in your case, this results in the sending pipe not filling up and the data being "perceived" as one large chunk.

In RN, I have more limitations since I have to use the b

[2022-04-18 12:20] #147 closed

[2022-04-18 12:38] #145 closed

[2022-04-18 16:13] Rapsssito commented on #144
@rkeiii, thanks for the feedback! I will release a fix ASAP

[2022-04-19 10:45] Aensdottir commented on #147
@Rapsssito, Thank you for the clarification, i have looked into the drain event and slicing data into chunks however i am not able to get this implementation to work with neither a C# server nor a NodeJS server, it seems the drain event is triggered but never resumes writing.

Would you, please, be able to provide me with some minimal code or further guidance/explanation as to how this would work?

[2022-04-19 20:40] Rapsssito commented on #147
@Aensdottir, I have uploaded a new example code. You can find it [here](https://github.com/Rapsssito/react-native-tcp-socket/blob/master/examples/tcpsockets/examples/long-data.js).

[2022-04-22 01:02] #142 closed

[2022-04-22 01:02] #141 closed

[2022-04-26 16:59] andrewhavens opened #150 "WARN `new NativeEventEmitter()` was called with a non-null argument without the required `addListener` method."
## Description
Using react-native-tcp-socket v5.6.1 and seeing this warning:

[code]

## Steps to reproduce
I tracked it down to importing this library:

[code]

Looks like it's coming from this line: https://github.com/Rapsssito/react-native-tcp-socket/blob/master/src/Globals.js#L10

## Expected behavior
I'm not sure what the solution is, but the warning should be addressed so that it doesn't cau

[2022-04-26 21:39] #150 closed

[2022-04-26 21:39] Rapsssito commented on #150
@andrewhavens I believe the latest version fixes it!

[2022-04-27 03:52] andrewhavens commented on #150
Thank you @Rapsssito!

[2022-05-11 09:55] yeship opened #152 "是不支持局域网socket连接吗？"
本机ip地址：192.168.2.62
socket服务ip地址：192.168.2.31

会报Cannot assign requested address的错误。

[2022-05-11 14:27] nikos9413 commented on #144
Hello, it does not work for me on Android. I'm calling `server.close()` and nothing happens. When I call it a second time, it crashes completely out of the app. The `server` instance I'm using is the correct one; I tested it with a `server.getConnections()` call.
Test devices are `OnePlus 8` and `Huawei P8 Lite`. One is fairly new and the other is pretty old.

`"dependencies": {

    "@react-nativ

[2022-05-13 13:25] Rapsssito commented on #152
@yeship, I am sorry but I don't understand your language. Could you please ask it in English?

[2022-05-16 01:47] yeship commented on #152
@Rapsssito I get an error;
my client ip address is : 192.168.2.62
but server ip address is : 192.168.2.31
i will get the error: Cannot assign requested address
Does not support LAN connection?

[2022-05-16 07:21] Rapsssito commented on #152
It does, but make sure you are trying to set the address for the WiFi interface rather than the cellular interface.

[2022-06-01 16:37] cc-steina opened #153 "Android Client crashes when connected Server crashes."
## Description
When a server crashes the client is connected to the app will shutdown with a fatal error.

## Steps to reproduce
Steps to reproduce the behavior:
1. Create connection to Server
2. Let Server ungracefully destroy it self. Or shut down the machine it is running on.
3. Android app will crash

Or code:
[code]

Client Connection call:
[code]

## Current behavior
Android App crashes when

[2022-06-22 01:14] #152 closed

[2022-07-11 07:43] yeship opened #155 "Can not connect the 172.16.98.110"
## Description
when my socket server is the 192.168.1.10 i can connect success.
but when my socket server is the 172.168.98.110, i get the fail.

[2022-07-12 01:25] #155 closed

[2022-07-12 01:25] yeship commented on #155
error

[2022-07-15 01:17] #153 closed

[2022-08-10 07:24] NguyenHuynhHuuTai opened #157 "Support react-native-windows platform"
## Description
When does the library support the windows platform?
I am building a TCP client application with react-native-window. I need some help

## Expected behavior
a tcp client application with react-native-window

## Relevant information
| OS | ?   |
| react-native | 68.2  |
| react-native-windows  | 68.12   |
| react-native-tcp-socket  | 5.6.2   |

[2022-08-11 10:24] Rapsssito commented on #157
@NguyenHuynhHuuTai, I am sorry, but I don't have experience with RN in Windows. I will mark this as a feature request. PRs are welcome!

[2022-08-22 10:24] #144 closed

[2022-09-21 21:34] EsioFreitas opened #161 "TypeError: null is not an object (evaluating 'Sockets.listen')"
# Message
Hello. I put the server example in the code and it is giving an error. Could you please help me?

# Code:
[code]
# Error
![image](https://user-images.githubusercontent.com/34384624/191614562-4fca6563-c0fe-4c2f-951c-f3abb8550fdc.png)

[2022-09-30 14:55] Rapsssito commented on #161
@EsioFreitas, I believe your issue is related to #122, #103 and #27. Please, take a look at #103 for a list of possible fixes.

[2022-09-30 14:55] #161 closed

[2022-11-14 05:31] weiawesome opened #162 "example"
Sorry, excause me.
Can you give me an example for client, based on expo.
I tried many times.

[2022-11-23 07:02] weiawesome commented on #162
Thanks

[2022-11-25 06:40] mohit792 commented on #61
Hi everyone , i solved this issue finally with reproduce .
SOLVED !!!
1. uninstall the react-native-udp
2. install the latest version

[2022-11-29 09:55] tristola opened #163 "How do i remove an event listener?"
This is a question,
If i have an event listener and would like to change it.
[code]
How can i remove or replace it ?
if i add a new one it will call all the old ones too.